[2017-04-04 19:11] Sind opened #2 "Saturation gradient isn't being rendered correctly on Android"
![screenshot_iro](https://cloud.githubusercontent.com/assets/2745906/24674203/f10d7460-197a-11e7-811a-37bb60cd33ee.png)

Using Chromium on Android (Also looks the same in FireFox)

Strangely enough, the picked color is correct(what color _should_ be at that location on the wheel).

[2017-04-04 21:38] jaames commented on #2
Now that's certainly a strange one. Thank you for the report!

It looks like the hue ring is fine, but the radial gradient used to represent saturation isn't being drawn correctly, which pretty much narrows down the issue to these lines of code: https://github.com/jaames/iro.js/blob/master/src/iro.js#L557:L561.

I've recreated the bug in a codepen here:
http://codepen.io/rakujira/pen/rybVXW?editor

[2017-04-04 23:24] Sind commented on #2
I have only tested this in Android so far, but changing the "2" to "0" seems to fix the issue.

[2017-04-04 23:36] Sind commented on #2
And yea. Seems like createRadialGradient on Android struggles with radiuses between 0 and 15. Strange =/

[2017-04-05 00:10] jaames commented on #2
That's... certainly odd. Oh well, at least we know what's causing it ¯\_(ツ)_/¯

I've committed a hotfix for the issue which implements the changes that you suggested, I hope it's resolved now

Thanks again!

[2017-04-05 12:16] Sind commented on #2
Looks good. I'll close this issue then.

Btw, it's good practice to close an issue when you think you've fixed it, and leave it to the other users to re-open it if there's more.

Also, no problem. I've been looking for a lightweight colorpicker widget, and this looks perfect!(All the other nice looking ones require jQuery, bleh)

[2017-04-05 12:16] #2 closed

[2017-04-05 12:29] jaames commented on #2
I see, thanks for the tip!

I hope you find it useful for your needs. By the way, I'm currently rewriting everything from the ground up over in the v2 branch, so please feel free to open up another issue if you have any feature requests or anything. It would be helpful to get some feedback. (:

[2017-08-11 00:02] mspanish opened #7 "watch for final color after user stops touching the wheel"
Hello, lovely library! It would be great if the watch functionality also had the ability to detect if the user is done manipulating the color, in the case that you are running a function afterwards. For example, I add colors to a palettes once the user has chosen a color. Right now, using the watch function, it adds a ton of colors if the user swipes their finger around the wheel - as it adds 1 ea

[2017-08-11 08:47] jaames commented on #7
Hello, thank you for the suggestion!

I think I'll try to implement a proper event system that lets you add callbacks for different events, perhaps something like this?

[code]

How does that sound? (:

[2017-08-11 22:47] mspanish commented on #7
sounds great thanks for the speedy reply!

[2017-08-11 23:17] jaames commented on #7
No worries! Just pushed that feature now, and updated some of the docs too: https://github.com/jaames/iro.js/blob/master/docs/colorPicker_api.md#on

I hope that suits your needs c:

[2017-08-11 23:17] #7 closed

[2017-08-12 21:07] mspanish commented on #7
thank you!

[2017-10-08 07:36] Ape opened #9 "Drawing the wheel always with full brightness"
I'd like to have an option for always drawing the wheel with full brightness (V channel = 100%) regardless of the slider value.

[2017-10-13 19:21] replicat0r opened #10 "disable brightness bar"
Hi,

let me say this first, this is one of the best color picker wheel implementations out there! simple to easy, low friction api and very well designed!

I just had a question, is there a way for me to disable the brightness bar? or a way to pass in a init option?

Thanks!

[2017-10-13 19:43] replicat0r commented on #10
Also I cant seem to register a callback on my color picker with watch

if i have the following
        var colorPicker = new iro.ColorPicker("#example");
        colorPicker.watch(function(newHsv, oldHsv, changed) {
	// if the hue channel changed, log the new hue value to the console:
    if(changed.h) {
		console.log(newHsv.h)
    }

    // if the saturation channel changed, log the old saturatio

[2017-10-13 19:57] jaames commented on #9
Thank you for the suggestion!

So if I understand correctly, the idea is to optionally hide the value/brightness slider completely and just have the hue wheel? It seems reasonable, there's a couple of things I'd like to ask, though:

* Any preference regarding the name of the "disable the brightness slider" option? I feel like setting `valueSlider: false` makes sense, but I'm open to suggestions.

[2017-10-13 20:19] jaames commented on #10
Hello! Thank you very much, I'm glad you like the library!

There was another request to make the brightness slider optional, if that's something you'd like to see then feel free to join the discussion on [this thread](https://github.com/jaames/iro.js/issues/9), and let me know what you think of the suggested changes. :>

----

Regarding the `watch` method, iirc this behaviour was changed in the t

[2017-10-14 06:47] Ape commented on #9
No, I don't want to hide the brightness slider. I still want to have it affect the actual output color value just as it does now.

The only think I want is to always render the wheel pretending the slider is at max brightness.

The behaviour and output values should remaing unchanged. This would change how the colors in the wheel are drawn.

[2017-10-14 11:19] jaames commented on #9
Ah I see, sorry for the confusion.

To be honest I'm hesitant to add this, I feel that this would be counter-intuitive for the user since the intention was for the middle of both control markers to be over the currently selected color at all times.

That said, if you wanted to, you could perhaps fork the library and change [this line](https://github.com/jaames/iro.js/blob/master/src/ui/wheel.js#L6

[2017-10-15 11:53] #9 closed

[2017-10-15 11:54] #10 closed

[2017-10-15 17:44] Ape opened #11 "Ability to change the color without triggering the changed event"
I would like to have a method for changing the current color so that this change would not trigger the `color:change` event. This would be useful for example when you want to set the color inside the `color:change` handler function in response to some changes. Otherwise it might create even an infinite event loop.

[2017-10-15 22:01] jaames commented on #11
Thanks for the suggestion! I agree that this would be useful, so I shall try to add it when possible.

It will be a little difficult, since right now it works like this:
1) User interacts with the color picker
2) Color picker gives the color object a new value
3) Color object checks which channels (h/s/v) have changed
4) If there were changes, the color object tells the color picker to update the

[2017-10-16 16:22] jaames commented on #11
Just pushed changes; now you can manually change the current color value without firing the `color:change` event by using `color.set()` with a HSV object.

Example:

[code]

`color.set` docs: https://github.com/jaames/iro.js/blob/master/docs/color_api.md#set

--

I should say this solution is rather hacky, I'll see if I can find a better way to solve this problem in the future.

[2017-10-16 16:22] #11 closed

[2017-10-17 04:56] Ape commented on #11
Thanks!

[2017-10-19 20:27] replicat0r commented on #9
I think having the option to disable the brightness slider makes a lot of sense. What you proposed

valueSlider: false

as a part of the init setting makes a lot of sense!

[2017-10-20 16:14] replicat0r opened #13 "option to disable brightness bar And option to render it to a different element"
Hey, this relate to issue #9, in addition to have the ability to disable the brightness bar, is it also possible to draw the brightness canvas as a separate modular html element? cause the current layout may not be applicable to all applications.

[2017-10-23 20:27] replicat0r opened #14 "Event "input:start" and "input:end" does not provide the color value"
Hey,

is it possible to the value registered on these events, just like how it is right now on the color:change  event? this would be incredibly useful to throttle the events to get the final value

[2017-10-25 19:50] replicat0r commented on #13
@jaames any ideas?

[2017-10-25 20:45] jaames commented on #14
Hi, sorry for the slow response. (:

I'm not sure if I understand the request properly. You're asking for the color picker's `color` object to be passed to the `input:end` and `input:start` events like it is with `color:set`?, right?

[2017-10-25 21:04] jaames commented on #13
Hi, sorry for the slow response!

My initial thought is that it would "break" a couple of things, like:
* When setting up a color picker, you give it a single CSS selector/HTML element to use as a container, it would be a bit confusing if the slider canvas is somewhere outside this container, no?
* The color picker's `width` and `height` options, which are used for the canvas size, would no longer

[2017-10-29 21:06] replicat0r commented on #14
Hey! No worries.

What I meant was that there is always a event listner for oncolor change. and the resulting object is a color object, meaning as I am dragging the color wheel around, i have a feed to all the colors.

It would be good to have the color object available on input:start and input:end,

so for example,

("color:change", (color)=>{
  //color object exist here
})

while

("input:start"

[2017-10-29 21:12] replicat0r commented on #13
Ah okay, if its gonna break things, then perhaps the option to disable the brightness bar would be sufficient then.

My reasoning behind this is essentially, if the UI of an given application separates the ability of the user to change brightness and the actual color of a given element, then the current rendered canvas would not be applicable. Thats essentially whats happening to me right now. The

[2017-10-29 21:23] jaames commented on #14
Ahh, so, the color object that gets passed to the `color:change` callback is just for convenience, you can access it at all times from the color picker's [`color`](https://rakujira.jp/projects/iro/docs/colorPicker_api.html#color) property. :)

e.g:

[code]

I hope that helps! That said, if you still think passing the color into the other method callbacks would be easier, then I'd consider it for s

[2017-10-29 21:23] #14 closed

[2017-10-29 21:44] jaames commented on #13
I'll definitely consider optionally disabling the brightness slider, and I will experiment to see if I can get elements to render to seperate elements too. iro 3.0.0 is out now, and with it I've switched to using SVG for the UI instead of the canvas API. Perhaps it will be easier to do with SVG? ¯\_(ツ)_/¯

If it's super important and you're okay with a hacky solution, with the latest version of th

[2017-10-31 14:41] replicat0r commented on #13
Wow I see you have totally reworked this lib, awesome!! I tried your method of hiding it, with css and the js, but it seems like the brightness event is still being picked up. Any other way around this?

[2017-10-31 20:39] jaames commented on #13
Yep!

Ah whoops, I think I made a mistake. The JS should be `ui.splice(1, 1)`. Basically, we want to remove the second item from the color picker's `ui` array (the first item is the hue/sat wheel).

[2017-10-31 21:21] replicat0r commented on #13
ah you are absolutely right! with the brightness control gone, anyway I can center the circle svg element inside the container by pure css?

[2017-11-01 12:10] jaames commented on #13
I suppose you could try force-cropping the SVG by taking a couple of pixels off the height:

[code]
Something like that perhaps? It is a bit difficult to write a CSS selector that targets the SVG element, I should do something about that. :P

[2017-11-21 17:20] mardzo opened #17 "Implement preset colors (Swatches)"
Hello,

Nice job with the picker. It would be nice for the user to have some basic preset colors to choose from, underneath the picker.
Cheers

[2017-11-22 23:52] jaames commented on #17
Hello! Thanks for the feature request.

At the moment I can't see this being implemented into the main library, to be honest. I'm trying to keep the library's footprint relatively small, so I try to only add features if they will benefit most of the people using it. In this case, I feel like the requested feature is simple enough for a developer to implement themselves (e.g they can make some smal

[2017-11-22 23:52] #17 closed

[2017-11-29 09:01] m4mbart opened #18 "Black output on Safari"
Hi,
The color picker library works great on all browsers, except Safari. Actually it is also fully functional. I can interact with it, feed it color hex and receive color updates from the library.
Except the color wheel and lightness bar are all black. What could be wrong?

<img width="297" alt="screen shot 2017-11-29 at 09 58 55" src="https://user-images.githubusercontent.com/11663618/33366683-43

[2017-11-29 11:33] jaames commented on #18
Hi, sorry to hear that you've been having problems with iro.js

I've just tested the library using Safari 11 (on both macOS and iOS) and can't seem to replicate the issue myself, so to get to the bottom of this I need to ask a couple of things:

* Which Safari version are you having issues with? Also is it the mobile or desktop variant?
* Which version of iro.js are you using? (As of 3.0.0, you ca

[2017-11-29 12:55] m4mbart commented on #18
Hi, a little more info:
- Safari version is 11.0.1
- iro.js: 3.1.0
- Hmm indeed, works fine on the landing page...

This is the init code:
this.colorWheel = new iro.ColorPicker("#colorWheel", {
          width: 240,
          height: 240,
          markerRadius: 6,
          color: this.selectedColor,
          borderWidth: 2,
          padding: 2,
          sliderHeight: 10,
          sliderWidth

[2017-11-29 20:57] jaames commented on #18
Hm, that's pretty strange.

There doesn't seem to be anything unusual about the options you're passing into `iro.ColorPicker`, although I wonder if the root of the problem is that iro.js is incorrectly parsing the value of `this.selectedColor`? Perhaps you could try swapping that with a simple hex color string so we can rule that out.

If that doesn't solve anything then I'd really appreciate it i

[2017-11-30 15:48] m4mbart commented on #18
Yes I've tried that as well.. But without result.
Hmm I guess that will be a bit difficult, because it is deeply nested in a large Angular 4 application.

Could it have anything to do with the fact that it is placed inside an absolute positioned modal element? The difference between Safari and other browsers is interesting in this case...

[2017-11-30 17:02] jaames commented on #18
Ah! I think the problem is that Angular might actually be "breaking" the SVG gradient URLs. [This Stack Overflow answer](https://stackoverflow.com/a/19753427) explains the issue in depth (even though it's about filters, they work in a similar way to gradients).

TL;DR Angular adds a base tag to the head of your HTML document. The base tag changes the location of relative URLs on the page, so the c

[2017-11-30 20:46] jaames commented on #18
Small update: I've managed to reproduce the issue within Safari, and indeed, it appears that using a `<base>` tag may be the root of the problem.

I've been working on a fix over in the [bug/broken-gradient-url](https://github.com/jaames/iro.js/tree/bug/broken-gradient-url) branch. If you want to try it out, the compiled scripts are in the `dist` folder. :>

With that said, I noticed a *second* Sa

[2017-12-01 07:49] m4mbart commented on #18
Ah good to see that you're on to something here :) I'll test it right away...

[2017-12-01 09:34] m4mbart commented on #18
Works like a charm! Even after navigating. Thanks a lot! :)

[2017-12-01 13:23] jaames commented on #18
Great! I'm glad that fixed it :>

I pushed a couple of extra changes since my last comment:
 * Absolute gradient URLs are now only used in Safari.
 * A (somewhat hacky) solution for router navigation issues in case you do come across any: just call `emit("history:stateChange")` on the color picker instance whenever the route changes.

I'll push them into master tomorrow unless you come across any

[2017-12-01 13:50] m4mbart commented on #18
Using commit 07efb22b6d4dd86333821bb9e01e8f9e2759bb66 now (latest as of this moment) and still working fine. I do not need to use `emit("history:stateChange")`. But that might be because I use the colorpicker inside a modal window that gets reconstructed after re-routing re-opening.

[2017-12-01 14:19] m4mbart opened #19 "Request: A few options for configurable design tweaks"
Hi,

Thanks for fixing the Safari/Angular bug I encountered. And since you asked, I do have a few little requests:
- It would be nice if there were an option to set the colorwheel brightness to fixed. Because sliding the slider to dark will only show black in the wheel.
- The designers would have liked a vertical slider over an horizontal slider. So maybe an option to tweak the orientation (or pos

[2017-12-02 10:37] Ape commented on #19
There is #9 for the first thing. I would also like to have that myself.

[2017-12-02 10:59] jaames commented on #19
Hey! Thank you for the feature requests. :>

 * This has been suggested a couple of times (as @Ape mentioned). My previous argument against it was that I intended for the user's selected color to be marked by both handles, and "breaking" that behaviour may be counterintuitive for them. I guess it could be added as an option since there's been a number of requests for it now. For a quick fix, as of

[2017-12-02 11:08] jaames commented on #18
Changes merged into master, so I'm going to close this thread now.
Thanks again for the bug report, this was a pretty tricky one. :)

[2017-12-02 11:08] #18 closed

[2017-12-02 13:16] jaames commented on #19
Went ahead and added a wheelLightness option to iro.ColorPicker. If you set this to `false`, then the color wheel won't fade to black as the selected color lightness decreases.

I should note that this option will be documented as "unrecommended" though, as I don't personally think this behaviour is exactly ideal from a design standpoint. ¯\\\_(ツ)_/¯

[2017-12-04 08:54] m4mbart commented on #19
Thank you for offering us the option. I do think it is favourably for our use in the application. Since the default color is black, the first time you enter the color picker dialogue the entire wheel will be black. It is sort of less intuitive to just start clicking randomly on the black wheel I guess... But we'll see how it will be used and I will enable/disable this option based on that.

[2017-12-04 08:57] m4mbart commented on #19
As for request #3: I agree that pointing to a custom svg for the handles does make sense. And maybe one should be able to give a center offset per handle, just like Google Maps does for the the anchor point of an Icon: https://developers.google.com/maps/documentation/javascript/3.exp/reference#Icon

[2017-12-05 01:00] jaames commented on #19
Ah, I didn't think of that actually. You raise a very valid point there. :>

Looks like custom SVG handles will be pretty easy to implement, `<use>` elements don't seem to be subject to the same Safari issues as gradients and filters.

The color picker parameters are starting to get a little messy though, I'm wondering if it's time to adopt some sort of multi-level param structure like this:

[cod

[2017-12-05 06:59] m4mbart commented on #19
Yes I think something like that would be nice. And it might then also be nice to have a configurable slider (optional) for both elements separately:

`var colorPicker = new iro.ColorPicker("#colorPicker", {
    slider: {
        height: 20,
        margin: 24,
        marker: {
            url: "#markerShape",
            origin: {x: 4, y: 4}
        }
    },
    wheel: {
        lightness: false,

[2017-12-05 07:03] m4mbart commented on #19
That would be a configurable marker per element. 'markers' could still be used optionally to configure both elements at once.

[2017-12-05 23:36] jaames commented on #19
Being able to configure markers per control element would be a good addition, I agree.

When I was looking at implementing this earlier, I started to wonder if it would actually just be easer to allow developers to create each UI element directly if they wanted more options:

[code]

They're already created like this internally, and of course the "old" param format could still be kept around for u

[2017-12-06 07:17] m4mbart commented on #19
Even better :)

[2018-01-24 07:55] nickbe opened #22 "Request for a second horizontal slider for alpha transparency"
Is it possible to add an option for an additional transparency slider? This would make the color picker so perfect.
Thanks.

[2018-01-26 01:06] jaames commented on #22
Thanks for the request! The transparency slider has kinda been on the back burner for a while ahah.

I'll try to push it along a bit, but at the moment my focus is on other things. Hopefully that doesn't cause you too much convenience

[2018-01-26 11:21] gadlol opened #23 "Svg, display:block"
In line 1380:

`  svgElement.call(this, this, parent, "svg", { width: width, height: height, style: "display:block" });`

It would be better if that "display:block" was a param so we could add for example "display:inline-block".

[2018-01-26 18:51] jaames commented on #23
Thanks for the suggestion, I agree that it might be worthwhile to provide an option to change the SVG's display attribute. Will try adding it now :)

[2018-01-26 20:24] jaames commented on #23
As of c080c1252672ee9aadd5e04b21a846620c34f6ed, `iro.ColorPicker` instances now have a `display` param that can be used to set the color picker's CSS display property. It will default to "block" to preserve past behaviour.

Docs have been updated to reflect this change: https://rakujira.jp/projects/iro/docs/guide.html#Color-Picker-Options

[2018-01-26 20:24] #23 closed

[2018-01-26 20:50] gadlol opened #24 "Request: Pass color param to callback function for the other events also"
It would be nice to also pass color params to callback function for the events:

input:start and input:end

especially for input:end.

Right now we have to do:

[code]

It would be better to also do:

[code]

[2018-01-30 12:00] nickbe commented on #22
I'm using the Jquery mini colorpicker right now. So it works.
But once iro has transparency I'll switch immediately and any effort on your side will be much appreciated :-)

[2018-02-03 18:40] nickpearson opened #26 "Some colors get rounded by iro.Color"
`iro.Color` seems to round the rgb values in some cases:

[code]

You can also see this effect by modifying the [CodePen Demo](https://codepen.io/rakujira/pen/WZOeNq?editors=0010) (linked on the [intro](https://rakujira.jp/projects/iro/docs/introduction.html) page) to use `#eee` as the `color` option rather than `{r: 255, g: 0, b: 0}`.

[2018-02-04 15:21] jaames commented on #26
Thanks for letting me know!

I *think* it might be due to how all `iro.Color` instances use HSV colors internally, and some rounding when converting RGB -> HSV -> RGB is causing the effect you're seeing. I'll have to investigate further, though

[2018-03-07 10:59] dagnelies opened #27 "Thanks"
Great stuff, thanks! Deserves many more stars!

[2018-03-07 10:59] #27 closed

[2018-03-07 18:39] jaames commented on #27
Hey, thank you very much for the kind words! :>

[2018-03-20 18:49] mbaierl opened #28 "Request: issue event after colorPicker has been initialized"
Right now a `new iro.ColorPicker(...)` immediately returns an object but finishes initialisation of the object after the document.readyState changed to "complete".

It would be amazing if there would be an event issued after the _init function finished doing its job and the  colorPicker object is completely initialized.

For example the following at the end of the _init function:
[code]

Thanks!

[2018-03-20 19:36] jaames commented on #28
Thank you for the request! This would definitely be a helpful addition so I'll work on adding it ASAP :)

I think I'll probably call the event `mount` or something like that, to signify that the color picker has been mounted into the DOM

[2018-03-20 19:38] mbaierl commented on #28
Thanks James!

[2018-03-20 20:55] jaames commented on #28
The `mount` event should be available now, thanks again @mbaierl!

Here's a usage example:
[code]

In addition, the color object is now passed to the `input:start` and `input:end` events, which was requested a while ago in #24

[2018-03-20 20:55] #28 closed

[2018-03-20 21:00] jaames commented on #24
Sorry for such a slow response on this, I meant to get to it sooner. The color object should be available as a param for both the `input:start` and `input:end` events as of da84bd9 :)

[2018-03-20 21:00] #24 closed

[2018-03-21 19:49] mbaierl commented on #26
Just noticed the same issue... #FF0FF0 -> #FF0FEF and some others...

[2018-03-22 00:47] jaames commented on #26
Finally found the cause; it was a combination of excessive rounding and a strange quirk where converting decimal numbers to hex with `.toString(16)` would produce unexpected output

I have a working fix in the [bug/color-rounding](https://github.com/jaames/iro.js/tree/bug/color-rounding) branch if anyone wants to try it

One minor side effect of this fix is that `hexString` will only provide 6-dig

[2018-03-22 01:20] jaames opened #30 "Discussion: iro.js 4.0+"
This thread is for discussion about future additions and changes to iro.js, starting with the next major version (4.0.0) and beyond.

So far, the feedback I've received has been overwhelmingly positive (thank you!!), but I've also noticed a need for the library to evolve into something more featureful and customisable.

When I started working on this project I tried to keep it as minimal as possib

[2018-03-22 11:07] jaames commented on #26
Okay I think I got it, the fix should be in master now. Thanks @nickpearson and @mbaierl :)

[2018-03-22 11:07] #26 closed

[2018-03-22 15:34] nickpearson commented on #26
Works great. Thank you!

I agree that always using the full hex string for consistency is good. If you do happen to decide to convert to the shorthand hex value, here's a simple implementation:

[code]

[code]

This implementation of course doesn't do validation and only compacts all-lowercase hex strings, but it's a start.

[2018-04-23 07:40] thuyettiensinh opened #32 "Request: A few options for responsive design"
`let colorPicker = new iro.ColorPicker("#color-picker", {`
`    width: 320,`
`    height: 320`
`}`

How can i responsive design with this ?
because i only see fixed width and heigh on colorPicker object !

[2018-04-23 20:43] adrianjost commented on #32
You could read the width of the outer div and calculate the height based on that. If you want to be completly responsive you need to add an eventHandler for resizing of the outer div and update the width and height according to that.

[2018-04-23 20:45] adrianjost commented on #30
I already wrote an wrapper for iro.js for Vue. If you wan't I can share my single File Component with you.

[2018-04-23 21:05] jaames commented on #32
Hi, sorry that you've been having issues there! Unfortunately I can only suggest trying @adrianjost's workaround for now :)

The way iro.js does layout is kinda complicated just due to the nature of SVG, it's one of the things I really want to improve with 4.0, I'm just a little busy with other projects at the moment

[2018-04-23 21:07] jaames commented on #30
Sure thing @adrianjost! I was actually hoping to use Vue to render the SVG ui as well, but I'll take a look :>

[2018-04-24 06:44] adrianjost commented on #30
My current implementation can be found here: https://github.com/adrianjost/SmartLight-Firebase/blob/master/src/components/iro.vue
But it's only emitting the color change event with an hex value at the moment. I'm sure this could be improved anytime later. But my usecase didn't require that so far so it's not implemented for now.

[2018-04-24 10:57] thuyettiensinh opened #33 "How can i disable slider bar ?"
I hope you can help.
I tried with a stupid way:  `g[0].innerHTML = '' ` in before `mount ` event.
Remove some element and it hidden but when I clicking on the white space (show it before) It still works as if nothing had happened.

[2018-04-24 11:05] thuyettiensinh commented on #32
Thanks,
I'm tried the way @adrianjost suggested before. But I really think if you can add the request to new feature then it will awesome more :grin:

[2018-04-24 11:50] jaames commented on #33
A hacky workaround to this would be hiding the slider with CSS:

[code]

Then stop it from interacting with mouse clicks:

[code]

Custom UI layouts are being planned for 4.0, though! The discussion for that is [here](https://github.com/jaames/iro.js/issues/30)

[2018-04-24 11:50] #33 closed

[2018-04-24 12:05] thuyettiensinh commented on #33
Thanks for your support :smile: !

[2018-04-26 02:05] thuyettiensinh commented on #18
Sorry, but I have the same problem, my application builds on laravel and vuejs. On Chrome is ok. But Safari, it only shows black wheel.

[2018-04-26 04:35] thuyettiensinh commented on #30
Thank for your iro.js. This is awesome.
But it seems you are not interested in `.iro_maker`, for example, I want to take the position I must use `document.getElementsByClassName('.iro_maker')` and then handle it, take a position through `transform attribute`.
Anyway I just want to say thank you for this! :smile:

[2018-04-26 20:15] jaames commented on #30
@thuyettiensinh I'm not sure I understand, you want to get the `.iro__marker` positions? Can you provide an example case where that would be useful?

[2018-06-09 12:55] jaames commented on #30
It's been a while, figured I should give an update on the 4.0 progress

Right now solving complex layouts is proving to be a major roadblock. With SVG everything has to be given explicit positions, there's nothing like css flexbox or grids. The way iro does layout is already messy (like, [really messy](https://github.com/jaames/iro.js/blob/da84bd931838c18257d9b7059e151d9c8f76a772/src/modules/color

[2018-08-07 19:58] mhadaily opened #36 "Unable to preventDefault inside passive event listener due to target being treated as passive"
Hi
I was playing with the library a bit and it seems there an error in Chrome 68 at least.

`[Intervention] Unable to preventDefault inside passive event listener due to the target being treated as passive. See https://www.chromestatus.com/features/5093566007214080` => iro.js:1025

iro.js:1025 is
[code]

I just wanted to inform you. If I continue using your library, I will fix and will send a PR.

[2018-08-07 23:05] jaames commented on #36
Thanks for letting me know! Just pushed a fixed for this and updated the NPM package :)

[2018-08-07 23:05] #36 closed

[2018-08-08 17:06] mksglu opened #37 "typescript iro types"
I want to use it in the project I developed with ReactJS and TypeScript. That's why I need types. Is it possible to provide this?

[2018-08-08 17:25] mksglu commented on #37
@jaames I'm not sure for the time being. All I want to do is work. If I do, I will send PR. It's a great package. Thank you.

[2018-08-08 19:00] jaames commented on #37
According docs I think the library just has to provide types with a `.d.ts` file? A PR would really be appreciated, but I can probably do it at myself when I have the time. :)

And thank you for the kind words!

[2018-08-11 22:29] mhadaily commented on #36
Thanks, it's was very quick but doesn't seem it solved the issue completely.

You might need to add one more thing to the color picker container element which is
```touch-action: none;```

Thanks for your hard work.

[2018-08-12 00:34] jaames commented on #36
Ah got it, thanks for the tip!

`touchmove` events are now also passive, and the color picker's SVG root elements should also have `touch-action: none;` applied. :)

[2018-08-17 12:15] jaames commented on #30
Small update: I just pushed version 3.5.0, which rewritee API classes in the cleaner es6 class syntax, and moves the build process over to [bili](https://github.com/egoist/bili).

I hope this might encourage others to consider contributing to iro's development so that v4 can happen. :)

[2018-09-17 14:48] jaames commented on #30
Another update: I'm thinking about overhauling the UI code and rewriting it with [Preact](https://preactjs.com/)! This is mainly because I keep hitting roadblocks with the internal SVG lib, and I think it needs to go.

There's some things to consider:

Pros:
 - Much cleaner code, each UI element would just be a JSX component
 - Anyone with React experience can contribute to UI code
 - Would be muc

[2018-09-18 03:59] mhadaily commented on #30
I personally suggest keeping your library purely in Javascript.

1- as you said it's lightweight
2- it always remains relevant to every frontend as it's pure javascript
3- optimization is up to you no the framework
4- you can approach more developers with different tastes, such as Angular, Vue and etc...
5- what you simply do in your library, really doesn't need another library/framework to handle

[2018-09-23 12:02] recklessruby91 opened #40 "emit('history:stateChange') not working with client-side routing in Safari"
Hello!
Firstly thanks for writing such a neat colour picker library!

My application uses client-side routing and I've encountered the dreaded black wheel when using Safari browsers. This only occurs when the URL has additional hash parameters, for example, 'www.mydomain.com/' displays fine. Whilst 'www.mydomain.com/#somehash' produces a functional but black wheel the same [as in the closed issue

[2018-09-23 16:10] jaames commented on #40
Hey! Thank you very much! Sorry that you've been having problems with it.

That's actually a really silly mistake on my behalf -- as noted in #18, Safari requires SVG gradient URLs to include the full page path when certain client-side routing libraries are used. My solution was to prepend `location.href` to these URLs, but that also includes the url hash and other unwanted parameters... so the gr

[2018-09-23 16:17] recklessruby91 commented on #40
Thanks for the speedy response!

That makes sense! I was seeing the url hash being passed to the SVG gradient URL when I was stepping through.

I'm more than happy to test it before you push it to the main branch. Let me know when it's ready!

[2018-09-23 16:42] jaames commented on #40
In the end I went with `location.protocol + "//" + location.host + location.pathname` as a replacement for `location.href`. I think this should fix it, so please try `dist/iro.js` from [this branch](https://github.com/jaames/iro.js/tree/bug/broken-gradient-url-with-hashes) if you can!

[2018-09-23 16:51] recklessruby91 commented on #40
Works like a charm! I've tested with Safari on Mac and also on Safari iOS.

Thank you sooo much for sorting this!!

[2018-09-23 17:00] jaames commented on #40
No problem! Thanks for flagging the problem and helping to test the fix!

I'll go ahead and push it into the main branch now. :>

[2018-09-23 17:00] #40 closed

[2018-10-01 11:54] jaames commented on #30
Thanks for the feedback @mhadaily! I think there may be a couple of misconceptions though, sorry if I wasn't clear enough ':)

It will still be compiled to pure JS, just with preact's core bundled in -- everything on the surface will be exactly the same!

The current internal dom library really isn't suitable for a lot of things. For example, I'd like to be able to resize the color wheel after the

[2018-10-02 21:27] mhadaily commented on #30
Sounds Great, I think I misunderstood you then, looking forward to checking your new branch out. Happy to help and contribute as well.

thanks.

[2018-10-05 14:57] mrwhy-orig opened #44 "Request: Add "How to easily customize the svg layout" to the documentation."
I'd like to change the svg layout to 4:3 square and I like to be able to change the color gradients. I had a look in the docs but couldn't find something related to it.

[2018-10-06 17:54] DenVys commented on #44
@mrwhy-orig what do you mean "change the color gradient" ?

[2018-10-08 19:09] jaames commented on #44
The current customisation options are already documented here: https://iro.js.org/guide.html#color-picker-options

It's not possible to change the layout that much at the moment. That is something being considered for the next major release (v4). You're welcome to join the v4 discussion thread (#30) and suggest ideas, though!

[2018-10-08 19:09] #44 closed

[2018-10-09 08:12] mnem77 opened #45 "Black output on iOS devices (iPhone and iPad)"
Hi!

I've been testing iro.js library and it's working quite nicely besides this problem I seem to be having only on iOS devices with any browser I test ( Chrome, Safari etc ).I can see that someone else had the exact same problem but only on Safari apparently.

I can confirm that your demo page ( https://iro.js.org/ ) works just fine on the testing devices yet while I access my testing page the o

[2018-10-09 17:58] jaames commented on #45
Hey @mnem77, sorry to hear that you've been having trouble!

It looks like this might be an issue with Safari in general, and not with your particular setup. Even the [official iro.js codepen demo](https://codepen.io/rakujira/pen/WZOeNq) renders as black on Safari for macOS.

Just to rule out possible causes -- is there a `<base>` element in the `<head>` of your HTML? What does the URL path for yo

[2018-10-10 17:44] jaames commented on #45
Thanks! You can find v3.5.1 on unpkg here: https://unpkg.com/@jaames/iro@3.5.1/dist/iro.js

Let me know if it's any different :>

[2018-10-10 19:01] mnem77 commented on #45
Thanks a lot, will test as soon as I get the time and will come back with an answer.

[2018-10-11 16:07] ramzanucar commented on #45
Did you find a solution. I got same black output for ios devices.

[2018-10-15 06:47] mnem77 commented on #45
@ramzanucar Not yet, I had other stuff to work on but right now I am going to try the 3.5.1 version and see if it works.

[2018-10-18 20:41] jaames commented on #45
@mnem77 Glad that works, thanks for checking!

Looks like [this line]( https://github.com/jaames/iro.js/blob/master/src/ui/svg.js#L169) is the issue again? While it did fix #40, I guess there's something that I missed. I'll check it out tomorrow. :)

[2018-11-20 16:56] jaames commented on #30
Hi, sorry that it's been so long! Driving lessons/job searching/etc have taken up a lot of my time recently.

The Preact rewrite I was talking about earlier is mostly feature-complete now.I'm pretty happy with this direction, the UI code in particular is a lot clearer, plus it's now already possible to add third-party UI components and customise these components individually. You can see the code

[2018-11-28 17:18] ReseTTim commented on #19
I created a fork with the slider vertical positioned.. :)

[2018-12-11 23:09] jaames commented on #45
Hey! Sorry for the dead air, I've been kinda busy recently...

I just checked the official Codepen demo on MacOS Safari 12.0 (14606.1.36.1.9) again and it seems to work fine now? I also can't see any issued with generating the gradient URL under various conditions.

I'm going to assume maybe it was just a temporary bug introduced in one version of Safari that's since been fixed, but please do reop

[2018-12-22 01:18] jtb commented on #45
On an iPhone7 Safari browser, if I add url parameters to the codepen, then I can reproduce the black palette:
https://codepen.io/rakujira/pen/WZOeNq?hi=3

It doesn't seem to be a problem for Safari desktop browser.

[2018-12-22 11:50] jaames commented on #45
@jtb Nice catch! I just pushed a hotfix (v3.5.4) which should add URL parameters to the SVG URLS. It seems to fix the issue on my end (testing on desktop Safari).

It looks as though Safari fixed some SVG rendering stuff in release 71, but I'll need to investigate further to see if that's actually the case. Originally the issue was related to certain client-side routing libraries inserting a <base

[2018-12-22 13:41] jaames commented on #45
Looks like the base tag issue is still present in MacOS Safari Version 12.0 (14606.1.36.1.9), so I guess we still can't just use `url(#gradient)` yet...

Safari really is the new IE. :P

[2018-12-29 11:51] TheSayantan96 opened #47 "Request: on-hover change color?"
Sir, is there a way we can change the color on mouse hover over the color picker?

[2018-12-29 15:30] TheSayantan96 commented on #47
Sir that I know, but what I want is that when I am moving the mouse cursor inside the color picker the respective color should show instantly.

[2019-01-03 09:23] Harshit-pratiti commented on #19
@jaames Did you implement the discussion that was going on for creating custom handles (like svg) to override the already present marker? I have that requirement to change the marker and make it custom.

[2019-01-03 11:01] jaames commented on #19
@Harshit-pratiti It's on the todo list for version 4.0 (#30), but I haven't had the time to implement it yet.

[2019-01-19 18:31] Lehoczky commented on #13
Because this is a dynamically injected html element, for anyone using Angular, the css should look like this:

[code]

[2019-01-22 12:55] jaames commented on #30
Another update since the last couple of days have been really productive!

iro.js 4.0 is super close to being production-ready, and a bunch of commonly-requested features are already implemented:

* Color pickers now have a `resize()` method to change their size at any given time
* Using your own custom SVG handles is now possible
* A new Plugin API which allows you to extend iro.js to suit your r

[2019-01-24 10:54] jaames commented on #19
Custom SVG handles are now available in the [iro.js v4 beta](https://github.com/jaames/iro.js/tree/v4)!

The iro.ColorPicker constructor now supports `handleUrl` and `handleOrigin` as config params. **`handleUrl` needs to be an ID selector referencing an SVG that is wrapped in a <defs> node.**

Here's a basic example:

[code]

Custom handles per element (as discussed) will also be coming soon. Hor

[2019-01-24 11:04] jaames commented on #32
The [iro.js v4 beta](https://github.com/jaames/iro.js/tree/v4) is out now, which adds a `resize()` method which can change the width of the color picker at any time.

Here's a basic example:

[code]

[2019-01-25 09:12] thuyettiensinh commented on #32
=)) here is my result.
create by iro

![circle-color-picker](https://user-images.githubusercontent.com/21211244/51735928-4e87b300-20bb-11e9-8cfa-2a7823a353e2.png)

[2019-01-25 09:57] jaames commented on #32
Neat! I'm going to close this thread now. Let me know if theres anything else you need :)

[2019-01-25 09:57] #32 closed

[2019-01-25 10:07] jaames commented on #13
The [iro.js v4 beta](https://github.com/jaames/iro.js/tree/v4) is out now, which has a new `layout` config option. This can be used to specify which controls are used.

I haven't documented it fully yet, but here's a basic example for showing just the wheel:

[code]

----

Additionally, each UI component is now a seperate SVG element with its own events, etc. If you want to render the slider in a

[2019-01-25 10:07] #13 closed

[2019-01-25 15:33] jaames commented on #37
Reopening this. I've been learning Typescript myself recently and I think having official defs would be a great idea.

[2019-01-28 00:23] obscuredetour opened #50 "Set the color by an HSL string"
Hey @jaames,

First of all let me say that [iro.js](https://github.com/jaames/iro.js) is excellent! As you know I am using it in my pwa [Color Deck](https://color.obscuredetour.com).

I found a bug when setting the color using an HSL string. It causes iro.js to crash, with only a reload fixing it. This can be recreated in the [iro.js demo](https://codepen.io/rakujira/pen/WZOeNq?editors=0011) (as s

[2019-01-28 11:16] jaames commented on #50
Hi @obscuredetour, thank you for the bug report!

I can confirm this is an issue on my end too. My guess is that the `parseHslStr` method isn't parsing the regex matches from the hsl string correctly (and `hslString` isn't working too since it uses this method internally). I'll take a look at it now.

Also thanks for the kind words! I'm happy to hear you chose iro.js for your app. Sorry about the

[2019-01-28 11:42] jaames commented on #50
Ahah, seems like `parseHslStr` wasn't taking the right array values from the hsl string regex match. Just pushed a hotfix now -- hopefully that should solve it.

I think I'm also going to start implementing code tests to make sure something like that doesn't end up in the library again. Sorry for the trouble!

----

By the way, I'm currently working on the next major release of iro.js. You're welc

[2019-01-28 11:42] #50 closed

[2019-01-28 16:08] obscuredetour commented on #50
Thanks so much for the fix @jaames! That was fast :+1:

I started testing v4 #30 in my project on a separate branch, but couldn't get many methods to work. So I'll wait for more of your awesome documentation. :smile: I am liking many of the features listed! I will add any I deem worthy. Thanks again!

[2019-02-01 05:51] mksglu commented on #37
https://gist.github.com/mksglu/ba4ebff035a16d29a373eb6739ea316d

[2019-02-01 05:58] 625alex commented on #45
I believe this issue is still present when page is launched with home screen shortcut.

[2019-02-01 10:34] jaames commented on #37
@mksglu Nice start! Are you okay if I use this as a base for the official typescript defs?

[2019-02-01 10:41] mksglu commented on #37
@jaames yeah, you can use.

[2019-02-01 10:43] jaames commented on #45
@625alex Please could you provide some more information? It would be helpful to know if you're using a client-side routing library, the URL of the page (in Safari, iro.js has to use the full page URL to link SVG gradients), as well as what the rendered HTML structure looks like in this case. I don't have a working iPhone at the moment so I can't test myself.

[2019-02-01 17:59] npreiser opened #52 "Is is possible to convert this to a react-native module"
I would love to use this in a react native app,  has anyone tried to convert  this

[2019-02-01 18:56] 625alex commented on #45
I'm using AngularJS with client-side routing. The `base` element is present by design.

The rendered HTML structure looks fine to me. I will try to play with the SVG gradient URL to see if I can isolate the issue.

[2019-02-01 19:34] 625alex commented on #45
I think the problem is with the following:
`var IS_SAFARI = /^((?!chrome|android).)*safari/i.test(ua);`
This evaluates to `false` when web page is launched via desktop shortcut. The user agent is different. So, the Safari detection method should be updated.

![img_20190201_122603 2](https://user-images.githubusercontent.com/7987725/52145230-ad9a7a00-261d-11e9-93b0-32e6928d6911.jpg)

[2019-02-01 19:43] jaames commented on #45
@625alex Ahh, thanks for the heads-up. I'll try to work on a fix now. :)

[2019-02-01 21:10] jaames commented on #45
I just pushed a hotfix which adds a check to see if the userAgent matches `/iPhone|iPod|iPad/i`.

I tested with Xcode's iOS Simulator and the bug doesn't seem to be present in the iOS 12.0 webview, so please let me know if that solves the issue @625alex

Cheers!

[2019-02-22 22:36] jaames commented on #30
I finally made the last few changes and released [v4](https://github.com/jaames/iro.js/blob/master/CHANGELOG.md#400)! Thank you everyone who contributed your opinions!

[2019-02-22 22:36] #30 closed

[2019-02-22 22:39] jaames commented on #50
Hey @obscuredetour! I finally got around to making the final changes on v4 and pushed it into production, the new documentation is live on https://iro.js.org now too :)

[2019-02-22 22:41] jaames commented on #40
Tiny update on this: with the latest version of the library (version 4.0.0), `colorPicker.emit('history:stateChange')` has now been deprecated for the more catch-all `colorPicker.forceUpdate()` method. Cheers!

[2019-02-22 22:46] jaames commented on #13
Version 4.0.0 is live, so this is now possible with the newest version of the library. I've edited my previous comment with more info.

[2019-02-22 22:48] jaames commented on #10
iro.js version 4.0.0 is now live, which provides the ability to disable the brightness bar with the new [custom layout](https://iro.js.org/guide.html#custom-layouts) option:

[code]

--

Sorry for taking so long to find a good way to implement this!

[2019-02-22 22:49] jaames commented on #33
iro.js version 4.0.0 is now live, which provides the ability to disable the brightness bar with the new [custom layout](https://iro.js.org/guide.html#custom-layouts) option:

[code]

--

Sorry for taking so long to find a good way to implement this!

[2019-02-26 18:37] Ermilin opened #54 "iro.js with React"
Hi, this project looks very promising.

How do I use this with react? I am trying to create a new picker with a unique id in every loop of my map function.

<img width="380" alt="screenshot 2019-02-26 at 19 36 16" src="https://user-images.githubusercontent.com/21192205/53437430-ce2bd900-39fd-11e9-81ff-c193cdeb11bf.png">

As seen in this picture I want to control the color of each controller with a

[2019-02-26 19:38] jaames commented on #54
Hey @Ermilin, thank you for the kind words!

At the moment I would recommend wrapping the color picker with a react component, something like this:

[code]

This component will take all the iro.ColorPicker options via props, and it will also update the color picker whenever any of these prop values change.

I understand this isn't ideal. I fully intend to give the library a "true" React port when

[2019-02-26 19:48] Ermilin commented on #54
Thank you for the quick reply, I'll look into it tomorrow. Good night!

[2019-02-27 16:09] thuyettiensinh commented on #33
:) no problem. I fixed it with your solution above, and it's work!
~ 1 year =))

[2019-02-28 16:58] Ermilin commented on #54
I can't get it working, could you provide a working example with several colorpicker componenets?

[2019-02-28 17:10] Ermilin commented on #54
Your edited post works like a charm! Thank you so much for this project! Love ya.

[2019-02-28 17:10] #54 closed

[2019-02-28 17:20] jaames commented on #54
Ahah, no worries! Sorry for not making the edit clearer -- my initial example wasn't tested ":)

Best of luck with your project!

[2019-03-03 16:33] jaames commented on #19
Custom handles are now available as of iro.js version 4.0.0! Check out the documentation here: https://iro.js.org/guide.html#custom-handles

Horizontal layout will also be coming pretty soon, so I'm going to close this thread now. :)

[2019-03-03 16:33] #19 closed

[2019-03-07 21:12] jaames commented on #22
I just released a [transparency plugin](https://github.com/jaames/iro-transparency-plugin) for iro.js, which can be used to add an alpha slider to the color picker:

![screenshot](https://user-images.githubusercontent.com/9112876/53989190-58222300-411d-11e9-893e-c0fbe5f1b042.png)

@nickbe sorry for taking so long to get this out (over a year...) ':)

[2019-03-07 21:12] #22 closed

[2019-03-12 03:02] Gabriel-gn opened #55 "Can't use resize"
Hey, first of all thanks for this awesome plugin! It's a wonderful job on how it is documented and its functionality!
But so far I had no success using the "resize" method.
Below my piece of code:

[code]

I'm using firefox atm.

[2019-03-12 03:24] Gabriel-gn commented on #55
It worked using jquery:

[code]
I'm a bit new to github, thanks for the patience

[2019-03-12 03:33] #55 closed

[2019-03-12 08:44] ojazdowski opened #56 "How to hide/reveal wheel ( slider callback interfere's)"
Hi! Thanks for all you've done and achieved here. Great project and a great API! I'd like to have the option to hide and reveal the color wheel. I followed the FAQs and can now do both with CSS . I can hide it. I can reveal it. But if I hide the wheel and then move the slider the wheel is automatically revealed again ( must be overriding my css?) Any suggestions? Many Thanks

[2019-03-12 09:28] jaames commented on #56
Hey! Thank you for the kind words!

You can hide the wheel with CSS by doing something like this -- the key is to force `display: none` with `!important`:

[code]

I may consider some way to show/hide the color picker components from the API though. :)

[2019-03-12 09:28] #56 closed

[2019-03-18 08:26] pavel-nitka opened #58 "IE11problem"
Hi,
i faced with problem when tried to use this awesome color picker in IE11. In IE11 picker doesn`t ends selection at 'mouseup' event. Seems problem in this function:
[code]

in IE removeEventListener doesn`t removes event handler. To resolve this issue, you must modify the function as follows:
[code]

[2019-03-18 08:46] jaames commented on #58
Hey, thanks for a bug report! I’m sorry you’ve been having trouble with iro.js

I’ll look into the problem and try to issue a fix for it later on today. :)

[2019-03-18 18:56] jaames commented on #58
So according to the [MDN documentation](https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/removeEventListener), you need to pass the same event parameters to `addEventListener` *and* `removeEventListener` in order for it to correctly remove the event.

Just pushed a hotfix that should fix this issue. Thank you @pavel-nitka for the bug report!

[2019-03-18 18:56] #58 closed

[2019-03-20 19:00] jacob-beltran commented on #37
I believe that the [`@pika/pack` library](https://www.pikapkg.com/blog/introducing-pika-pack/) can automagically generate `.d.ts` files as part of the build/publish process. If it's not to much work to move from rollup to pack it might be useful.

[2019-03-20 19:37] jaames commented on #37
@jacob-beltran pika pack would be perfect if it had more config options, like being able to specify the output directory and the ability to replace constants. Without these things it wouldn't really be ideal to move over from rollup right now.

[2019-03-26 01:25] ywwg opened #59 "color:change fires before input:start"
I'm using input:start and :end to disambiguate when the user makes a change vs when the color changes by code. When I see input:start, I set a boolean to indicate the user is interacting.  When I see input:end, I turn it off.  However due to the order of the events, this doesn't work.  If I click on the color picker (at least on firefox), the events are:

1. color:change
2. input:start
3. input:en

[2019-03-26 16:45] jaames commented on #59
Hey! Thanks for flagging this issue

I agree that your suggested event order makes more sense, I've just pushed a hotfix (ver 4.2.2) which should fix that. 👍

It's worth noting that color:update also (intentionally) fires once with the initial color value too

[2019-03-26 16:45] #59 closed

[2019-04-06 16:49] jbellue opened #60 "Prevent color:change from immediately firing its callback"
In [issue #59](https://github.com/jaames/iro.js/issues/59) you mention that the color:change event fires intentionally:

To me, this isn't straightforward.
I'm trying to prevent firing the event when programmatically setting the color, so I tried to first remove the callback, set the color, and add the callback, but then it fires again:
[code]

I think the most obvious solution would be to not fir

[2019-04-07 04:02] sarahgould commented on #54
When I try using iro.js (4.2.2) with Preact (8.4.2), I find that once the parent component gets updated, iro disappears. Any ideas on how to prevent that from happening without creating a new color picker every update?

[2019-04-07 09:05] jaames commented on #54
Nice catch @sarahgould ! If that doesn't work out I'm wondering if it might be better to replace `React.Component` with `React.PureComponent` (which is also in preact-compat iirc), as recommended by the React docs?

[2019-04-07 17:00] jaames commented on #60
Hey @jbellue!

If you just want to catch when the color has changed with user input, there are input events (`input:start`, `input:move` and `input:end`) that might be more suitable?

Passing `false` as a second parameter to `color.set` was only ever a temporary hack to prevent infinite callback loops if you tried setting the color within a `color:update` callback. It was never really an ideal sol

[2019-04-07 18:37] jbellue commented on #60
Using both `input:move` and `input:end` work for me, true.
I reckon that's essentially what `input:change` would do.

To me, it makes more sense to not fire when you add the `color:change` callback, but I guess always triggering it when the color changes seems logical (both on `set` and `input`).

I think the `input` callbacks are the right solution, but the `input:move` isn't documented (and had

[2019-04-07 19:02] jaames commented on #60
Currently working on adding `input:change` over in the events-api-update branch if you'd like to take a look! Right now it's fired in the colorPicker's updateColor method, just before the `color:change` event. It has the same parameters and loop protection as `color:change` too.

Yeah, I think my logic was that it should *always* fire when the color changes, including when the initial color is set

[2019-04-08 00:25] jaames commented on #60
Just pushed [v4.3.0](https://github.com/jaames/iro.js/blob/master/CHANGELOG.md#430)! You can now use `input:change` to achieve what you need, plus there's a couple of other new additions.

[2019-04-08 00:25] #60 closed

[2019-04-08 00:29] jaames commented on #59
As of [v4.3.0](https://github.com/jaames/iro.js/blob/master/CHANGELOG.md#430) there's now a built-in `input:change` event that should do exactly what you want -- it's identical to `color:change` except it only fires with user input.

[2019-04-11 10:05] jbellue opened #64 "input:change doesn't fire"
Hi @jaames

I'm completely failing to use the new `input:change`, and it never fires for me... I tried both Firefox and Chromium, but nothing fires.

[Here's an extremely basic pen](https://codepen.io/anon/pen/yrbzLM?editors=0010) to demo it, although the whole code is :
[code]
Did I understand how to use `input:change` wrong?
In case it's related (although I doubt it), I'm running Ubuntu 18.10

T

[2019-04-11 16:47] jaames commented on #64
Oh, huh,

Something *weird* happened when merging in the events-api-update branch into master and it skipped the line that set `this._colorUpdateSrc = "input"`. Maybe it got goofed up when I merged that `input:move` typo correction ¯\\\_(ツ)\_/¯

Anyway, that should be fixed now, make sure to update to iro.js v4.3.2! @jbellue

----

P.S. I don't know why, but that codepen link is really messed up f

[2019-04-12 07:35] jbellue commented on #64
That works perfectly fine, that's grand!

Thanks a bunch.

----

Weird. The pen works fine for me... Oh, well!

[2019-04-16 14:51] creppu opened #65 "Suggestion: Wheel Lightness Step 0 is hexString=#000000 flag that change Step 0 to Step 1"
I use iro.js to control my lights.
At night I want the lowest brightness available for the color.
At step 0, the light goes out and I always try to touch step 1 to reach it.
Maybe a flag would be nice to change the behavior on step 0.
Off, or the lowest possible brightness.

![sliderStep0](https://user-images.githubusercontent.com/33027885/56219820-abb25580-6067-11e9-967c-e8a9984a8168.png)

[2019-04-16 15:16] jaames commented on #65
You'd like to limit the color's brightness so that it never reaches 0?

The easiest way to do this is by using the color picker's `color:change` event to update the color if the brightness falls below 1:

[code]

I'd prefer not to add a built-in option/flag for this, since the use-case is quite niche and it would only add more bloat and potential for bugs.

Hope that snippet helps, though :)

[2019-04-16 15:16] #65 closed

[2019-05-02 20:34] jaames commented on #37
Just heard about [microbundle](https://github.com/developit/microbundle), it generates UMD and commonJS modules like iro's current setup does, but also `.d.ts` file if you write in Typescript!

I suppose it might be time to think about porting iro.js to Typescript -- anyone down to help out with that?

[2019-05-06 11:21] mcer12 opened #66 "Rotate / flip the circle"
Hi @jaames  Is there a way to rotate or flip (mirror) the color picker circle? For example I would need Red on top, Green on the right and Blue on the left?

[2019-05-06 15:41] jaames commented on #66
Hey @mcer12!

At the moment there isn't an option to adjust the hue wheel's angle or direction. I chose not to add that since I didn't see any particular benefit and thought it would just add extra complexity.

That said, I can probably add it when I have the time. What's your use-case here? How urgently is this needed?

[2019-05-06 15:56] mcer12 commented on #66
The goal is to make web interface to control philips Hue, that means to make the color picker similar to that on the linked picture.
https://2672686a4cf38e8c2458-2712e00ea34e3076747650c92426bbb5.ssl.cf1.rackcdn.com/2018-05-20-05-57-17.jpeg

[2019-05-06 16:17] jaames commented on #66
Ah, rad. I'll have a look at implementing this sometime (by adding `wheelAngle` and `wheelDirection` options to iro.ColorPicker?). I'm slightly busy this week so it'll probably be Saturday at the soonest, hope that's okay

[2019-05-06 17:44] mcer12 commented on #66
Sounds like exactly what I need!

[2019-05-10 00:33] jaames commented on #66
Currently working on this over in the features/hue-wheel-angle branch if you'd like to take a look!

I've implemented `wheelAngle` and `wheelDirection` options for the color picker constructor, docs still need to be written but `wheelAngle` is the number of degrees to rotate the wheel by (always in a clockwise direction) and `wheelDirection` is the direction to draw the hue in -- either `"anticloc

[2019-05-10 12:26] jaames commented on #66
@mcer12 Just pushed this feature in iro.js 4.4.0!

To get the result you're looking for, you'll need to set `wheelDirection` and `wheelAngle` like so:

[code]

Documentation is also available on the project's GitHub readme and on https://iro.js.org

Gonna close this thread now, but feel free to comment or open up another thread if there's anything else you need!

[2019-05-10 12:26] #66 closed

[2019-05-11 14:24] mcer12 commented on #66
Thank you very much, this is exactly what I needed. Great improvement!

[2019-05-11 15:35] jaames commented on #66
Awesome, glad I could help!

[2019-05-18 08:08] KaanMol commented on #37
I don't really like TypeScript tbh, but sure. I have time and if you want to, I can help you. Would you like that?

[2019-05-19 09:42] KaanMol opened #69 "[feature-request] kelvin scale colors"
Hey James,
I was trying to make it by myself in Iro.JS, but I don't really know anything about colors etc.
Maybe you can do it or help me make it.
I need a colorwheel like this basically:
![20190519_113723](https://user-images.githubusercontent.com/21340806/57980357-ffc7a580-7a2a-11e9-9659-052d1c00165f.jpg)

Do you know how I can achieve this?

[2019-05-19 11:22] jaames commented on #69
This control seems to represent the kelvin scale, which measures color warmth and is often used in lighting

It would normally just be controlled with a slider, but I guess they made it look like a circle for aesthetic reasons -- it does look pretty nice!

It shouldn't be too hard to implement something like this in iro.js, maybe as a plugin. The UI is just a circle with a gradient, and I think th

[2019-05-19 14:30] KaanMol commented on #69
Maybe it is an option to just put the Kelvin Scale utils in Iro.JS? Would be handy if a person wouldn't want the wheel but rather a slider.
I've found a couple ways to implement the Kelvin Scale, one is to calculate it (I also found the way to calculate it, quite easy) and the other is just to use an enum full of the RGB values of the tempratures.

[2019-05-19 20:19] jaames commented on #69
My goal with iro's core library is to keep it relatively small and free of feature-bloat, so any new features should only be things that most users will find useful. Not everybody is using iro to control lightning so I think it makes more sense to implement this as an optional plugin, like https://github.com/jaames/iro-transparency-plugin

There's probably some other features that would be helpful

[2019-05-27 13:51] BabyDead opened #70 "Eventlisteners trigger on all instances"
I need multiple colorpickers on one single page, so I put them into an object through a loop.

basically (just an example of my steps, won't work):
[code]

I can work around this for now by using external info to filter out which colorpicker is actually the one being triggered, I think... But I thought I should let you know that the instances share eventListeners. I'm sure that's not intended.

[2019-05-27 13:52] #70 closed

[2019-05-27 13:53] BabyDead commented on #70
For some reason it works now. I must've done something wrong in my code without realising. I'm sorry!

[2019-05-27 14:05] BabyDead opened #71 "Feature request: a way to distinguish between multiple pickers"
As-is, there seems to be no way to distinguish between which picker has been used when you have multiple instances.

The 'this' within the eventlistener 'color:change' seems to just return the window, so likely isn't set. There's also no event which gets passed to the function parameters, so I can't find a target or anything either.

It would be pretty great if I could find out which picker is bei

[2019-05-27 18:05] jaames commented on #71
Hey!

It should be possible to pass the current color picker instance to the event's `this` context. By itself it wouldn't be that useful, though. Maybe an additional `id` option for the color picker could work?

[2019-05-27 19:12] jaames commented on #71
I just pushed this feature in iro.js ver 4.5.0!

You can add a unique ID to the color picker:

[code]

The event callback's `this` context also gets bound to the active color picker now:

[code]

Hope that helps to you accomplish what you need do! If you need anything else, feel free to add a new comment or open a new issue thread :)

[2019-05-27 19:12] #71 closed

[2019-06-04 09:47] johnny0914 opened #72 "Vertical slider"
Is there any option to place the slider vertically?

[2019-06-04 11:32] jaames commented on #72
Not at the moment, unfortunately.

This is something that has been requested a few times, but I think it's going to be difficult to implement and I don't have enough much time to spend on this project right now

[2019-06-04 11:32] #72 closed

[2019-06-07 17:49] artmelkon opened #73 "moun and unmout color picker"
Can you please show how to mount or unmount the color picker.
Thanks in advanced.

[2019-06-07 18:22] jaames commented on #73
Create a color picker:

[code]

Unmount from current DOM:

[code]

Mount to new DOM:

[code]

[2019-06-07 18:22] #73 closed

[2019-06-07 19:27] artmelkon commented on #73
Does the code works with API?
It keep throwing an error "colorPicker.el is undefined"
Thanks

[2019-06-07 19:55] jaames commented on #73
Are you using the latest version of iro.js? (`iro.version` should be `"4.5.0"` or so)

Otherwise you may need to change `colorPicker` to whichever var your color picker is assigned to

[2019-06-07 19:57] artmelkon commented on #73
I use this CDN link: https://cdn.jsdelivr.net/npm/@jaames/iro/dist/iro.min.js

[2019-06-07 20:00] jaames commented on #73
Looks like you're using the latest version then.

I'm not sure why you're getting that error, without seeing your code I can only make guesses.

[2019-06-07 20:03] artmelkon commented on #73
html
---------
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro/dist/iro.min.js"></script>
  </head>
  <body>
    <div id="test-picker"></div>
    <script src="script.js"></script>
  </b

[2019-06-07 20:21] jaames commented on #73
You need a HTML element for the color picker to mount to first:

[code]

I'd recommend looking at the codepen demo https://codepen.io/rakujira/pen/WZOeNq?editors=1010 :)

[2019-06-07 20:57] artmelkon commented on #73
I tried both ways, but still same error. I will keep testing. And the link you sent, it refers to the original color picker page you have on codepen, right?

[2019-06-07 21:21] artmelkon commented on #73
Here, I have recreated the error: https://codepen.io/artmelkon/pen/wbVMZz?editors=1010
Thank you anyway for the help. I have a project where I am going to use your color picker. So I will be back with more questions :)

[2019-06-07 21:27] jaames commented on #73
Ohh, I think you need to wait for the colorPicker's `mount` event:

[code]

When the color picker is created, the HTML DOM isn't necessarily ready yet :)

Documentation: https://iro.js.org/colorPicker_api.html#events

[2019-06-07 21:30] artmelkon commented on #73
Ahh, it did work , thank you.

[2019-06-07 21:31] jaames commented on #73
No worries!

[2019-06-07 22:21] artmelkon commented on #73
can you please tell what children: Array[] is for?

[2019-06-07 22:52] jaames commented on #73
In what context? That doesn't sound like something from iro.js

[2019-06-07 22:57] artmelkon commented on #73
Sorry, couldn't find it anymore. I was running a script and it appeared in the console, but now I don't see it.

[2019-06-08 13:53] artmelkon opened #74 "how to set initial color dynamically"
Hello James,
I would like to set the initial color dynamically, I've been trying but wasn't able to solve it.
When I place call within the listener, it doesn't do anything.
color.set('#ff0');
https://codepen.io/artmelkon/pen/Ybmrbp?editors=1010

Is there way to do it?
Thanks in advanced.

[2019-06-08 14:05] jaames commented on #74
Hey!

To set the initial color of the picker:

[code]

If you need to modify the color after it changes, you need to set either `color.rgb`, `color.hsv` or `color.hsl` (I think `color.set` not working is actually a bug?)

[code]

[2019-06-08 14:05] #74 closed

[2019-06-08 14:35] jaames commented on #74
Update: I looked into it, there isn't any bug with `color.set()`. You just need to remove `colorPicker.forceUpdate()`

[2019-06-08 14:49] artmelkon commented on #74
I did remove colorPicker.forceUpdate()

When I type 'colorPicer.color.set('#ff0') in the console, it does sets the hex color as I enter, but when I place it in the script it won't do anything.

[2019-06-08 15:06] artmelkon commented on #74
I notice when I have 'color:init', it works but  the color wheel disappears leaving only the slider.
And there is an error message: TypeError: n.onMount is not a function
https://codepen.io/artmelkon/pen/Ybmrbp?editors=1010
Is there way to get color wheel visible?
Thanks

[2019-06-08 15:11] jaames commented on #74
Yeah I only just noticed that myself -- that *is* actually a bug. The reason it happens is because technically the color picker can't render until the page contents is loaded, so updating the color (which causes a rerender) before the page is ready was breaking things

I pushed a fix, so please make sure you're using iro.js `4.5.1`. It may take a little while before the CDN updates :)

[2019-06-08 15:30] artmelkon commented on #74
Awesome, thank so much

[2019-06-08 15:35] jaames commented on #74
No problem!

[2019-06-08 22:44] artmelkon commented on #74
You fixed it, that's awesome, works like charm.
Thank you James!

[2019-06-09 03:08] artmelkon opened #75 "I have element focus issue"
I am trying to change color on each individual box, even though I set them blur and one of them active, still the colors are being manipulated on all three of them.
Can you please check if this is on my end, or is there something could be done to change each box separately.

https://repl.it/@artmelkon/color-picker-v2

Thanks.

[2019-06-09 11:58] jaames commented on #75
I'm struggling to make sense of some of the code here; but maybe need to remove the previous `color:change` event listener when you change focus to a new box? You can do this with the color picker's `off` method: https://iro.js.org/colorPicker_api.html#off

To be honest, while I'm happy to fix bugs in iro.js and answer general questions about how to achieve certain things with the library, I can't

[2019-06-09 11:58] #75 closed

[2019-06-09 16:48] artmelkon commented on #75
Hey James,
Thank you for your help and I totally understand.
The color picker is to change the colors on a pattern dynamically.
Thanks again.
Arthur

[2019-06-10 15:52] artmelkon commented on #75
Hey James,
I got it working, thank you for the hint.

[2019-06-10 17:10] graff41 opened #76 "decimal color / color count"
Hey this is a great tool! The transparency plugin makes it top level.

I work with an older color data (vb) where colors are represented in decimal format, ie, #FFFFFF equals 16777215, This website is for reference: https://www.mathsisfun.com/hexadecimal-decimal-colors.html

It would be nice/convenient to get the decimal value of the color as well as the other options you provide.

Additionally, u

[2019-06-10 17:47] jaames commented on #75
Cool, glad that helped!

[2019-06-10 18:36] jaames commented on #76
Hey, thank you for the kind words and great suggestions!

Converting hex <-> dec is pretty easy to do in JavaScript:
[code]
Since it's so simple to convert I suppose it makes sense to also include it in the library. Is there any preference for the property name? Something like `color.rgbInteger` or `color.decimal`?

The color limitation thing is also a good idea, although I think it would be a lit

[2019-06-10 18:46] graff41 commented on #76
Cool, great to hear from you! I think either of those names would work. I have seen it mostly as decimal, but that could be due to the way I search. Here it's called decimal as well.  https://convertingcolors.com/decimal-color-16744576.html

So, if I were to vote `color.decimal` would get mine.

The limitation is to stay within some kind of standard. For example, it's impossible to choose real nam

[2019-06-10 22:53] artmelkon opened #77 "margin between sliders"
Hey James,
I was trying to space out the sliders, but could find any solution. "sliderMargin" sets distance between the wheel and the slider, is it possible to apply to sliders as well?

[2019-06-10 22:58] artmelkon opened #78 "RGB slider"
Is there a way to create RGB slider?
I coun't fine a documentation about it, and created my own, however, I would like to keep UI the same for all tools.
Any suggestion?

Thanks,
Arthur

[2019-06-10 23:03] artmelkon opened #79 "Opacity slider"
I tried the sliderType initiate as opacity/transparency but none of them worked.
My brightness slider and opacity linked together, when you move one, the other moves with it.
How could I do that?
Here is the link https://repl.it/@artmelkon/HSL-color-picker-individual-v1-1

Thanks,
Arthur

[2019-06-10 23:05] jaames commented on #79
Hey Arthur,

Transparency is supported via a plugin; https://github.com/jaames/iro-transparency-plugin

[2019-06-10 23:05] #79 closed

[2019-06-10 23:09] jaames commented on #78
Hi,

At the moment there aren't any built-in sliders for RGB, although I think it might be a good feature to have and it should be easy-ish to implement. I'll try to look into it when I have the time :)

[2019-06-10 23:16] artmelkon commented on #78
Awesome,
Thanks James

[2019-06-10 23:19] jaames commented on #77
`sliderMargin` should set the margin distance above any sliders you add to the picker.
If you want to override it for any particular slider, you can also do that:

[code]

[2019-06-10 23:19] #77 closed

[2019-06-10 23:19] artmelkon commented on #79
Got the CDN,
Thank you so much

[2019-06-10 23:28] artmelkon commented on #77
Works like a charm,
Thanks

[2019-06-13 15:12] KaanMol opened #80 "Typescript port progression Iro.JS"
This issue is a follow-up of the conversation in #68.

[2019-06-13 15:19] KaanMol commented on #80
Okay currently Iro.JS is made in preact, that is not a problem for the vanilla versions. But I saw atleast 1 issue for a ReactNative port. We talked about what you really wanted with Iro.JS, you answered that you wanted to make this a core library with just the basics.
What if we even remove the UI and make Iro.JS literally just a core and then make the UI a sort of layer on top of that. Why? Beca

[2019-06-13 15:25] KaanMol commented on #76
@jaames maybe instead of putting this in Iro.JS itself, we should make it really easy to implement this sort of functions for the end-user. That will help different scenario's probably in the future (:

[2019-06-13 16:11] jaames commented on #76
@KaanMol Oh, like a way to easily extend `iro.Color`? That's a decent idea actually

[2019-06-13 16:23] KaanMol commented on #76
Yeah, that keeps Iro.JS atleast small and straight to the point. Probably not everybody needs this

[2019-06-13 16:38] jaames commented on #76
Good point! `Object.defineProperty` can be used to add extra properties (I do this in iro-transparency-plugin)

[code]
It's pretty simple, but perhaps a small wrapper around it would be useful

[2019-06-14 07:20] KaanMol commented on #76
Do you want to make this on the Typescript branch or on the current one? If you want to make it on the Typescript one, let's add it to a to-do list there.

[2019-06-14 07:26] KaanMol commented on #80
We could pull that off easily, it is just a matter of fact where we indeed draw the line. It should be as easy as just remove preact and the things which aren't gone, is the core.

It is an issue indeed, because, who is going to build the UI? Are we going to give the layout wrapper something like an array with objects and let it build for us. Is the core gonna provide even layout information? We h

[2019-06-14 11:19] jaames commented on #80
I see two viable options for the split core idea, but theres drawbacks for each

The first option is that iro-core essentially handles everything besides rendering and events. Components like wheel, slider, etc would return virtual DOM trees (which is what they do right now anyway) and then the wrappers have to convert those trees into something they can actually render and bind events to. This wo

[2019-06-14 12:08] KaanMol commented on #80
So I looked at a few frameworks how they exactly want to handle their events.
Most of the time they just call a function. That would mean that we need to "close" Iro.JS probably.
With closing I mean that the eventlisteners are only for Iro.JS itself and the wrapper accepts hooks which will get called, since accessing the DOM in Angular, React, Preact etc is seen as a bad habit.

About the layout,

[2019-06-16 21:23] jaames commented on #80
iro.js does add events directly to the DOM, but it should be simple enough to change that. Actually, rather than extending Preact's component class it might help to wrap each of the color picker components in a higher order component (like I suggested back in the PR thread). The higher order component could then provide generic event handlers, etc to each component?

I'll have to think about the s

[2019-06-17 09:33] KaanMol commented on #80
Yeah you are right, let's make it Typescript first then. I am free today so I will remove webpack and add microbundle. Clean up some additional things etc, shouldn't be too much work, most of it is done anyway.

I get your concern about the splitter core, but the thing is that it doesn't mean that the repo should be yours, it can be maintained by the community. They probably know better what and h

[2019-06-17 11:42] jaames commented on #80
I'd prefer to add Typescript compilation to the current rollup build setup, I took a look at microbunble and it doesn't have as much flexibility. I'm happy to work on that myself though, so don't worry about it :)

Hm, yeah, I suppose I should let the community have more responsibility. I kinda have a habit of trying to do everything myself :")

That's something we can look at, sure

[2019-06-17 12:12] KaanMol commented on #80
Sure, if you need help, just ask :)

I know that feeling, I do the same hahah. Sometimes it is easier to try everything yourself.

I am going to start now then :)

[2019-06-29 13:03] jaames commented on #80
Sorry for the dead air again, I've been really busy.

I managed to add typescript support to the rollup build script! Although for some reason it is generating seperate `.d.ts` files for every tsx file in the `/src` directory -- any idea why?

[2019-06-29 13:16] KaanMol commented on #80
Hey no problem!
I fixed a few small things, but I haven't made huge changes to the source.
It seems like all the functions work, it may be messy etc. You can check it out on my fork.

About your question, is it only for the .tsx files or also for the .ts files?
It shouldn't generate any .d.ts files in your `/src` folder, they should be in `/built`.
Do we share the same `tsconfig.json`?

Maybe it i

[2019-06-29 13:27] KaanMol commented on #80
I looked at the last commits you made and I see that you probably meant the `/dist` folder (I saw your change from built to dist).
That is normal for typescript, usually this is preferred. I will add a change to the config so that the types will get their own folder.  You can then reference this folder in the `package.json` file.

[2019-06-29 13:36] jaames commented on #80
Yeah, the only tsconfig change I made was swapping /built with /dist, since that is the build directory that iro.js currently uses for bundled files. The typedefs are in there, which isn't a problem, but I was hoping that they'd be bundled into a single file. I suppose it isn't an issue, it just feels cleaner to me if it's one file.

Also, can reach me on Discord at `@jaames#9860`, or on Twitter h

[2019-07-28 10:29] Falke-Design opened #81 "Empty Container before adding"
First: Thanks for this powerful tool!

In a project from me, I add the colorpicker every time if i open a container and also once on page first loading. Before I add the picker, i empty the picker-div. Now is the problem, if the container is opened to fast while first initalisation, i have two pickers in the div.

I tried to reproduce this in jsfiddle, but it don't worked.
So here the link to my p

[2019-08-02 12:36] spicynaresh opened #82 "pointer is not moving when we setState in onColorChange in React"
pointer visually is not moving but functionality is working
issue is in below link
https://codesandbox.io/s/github/spicynaresh/React-Color-Picker-IRO

onColorChange = color => {
    this.setState({
      color:color
    })
    console.log(color.hexString);
  };
  render() {
    console.log(this.state.color);
    return (
      <div className="App">
        <IroColorPicker color={"#fff"} onColorCha

[2019-08-02 12:40] spicynaresh commented on #82
@jaames any suggestions

[2019-08-02 13:07] jaames commented on #82
@spicynaresh You probably want to set IroColorPicker's `color` prop to `this.state.color`

[code]

[2019-08-02 13:07] #82 closed

[2019-08-02 13:29] spicynaresh commented on #82
thanks for quick response

[2019-08-02 13:32] jaames commented on #82
No worries :)

[2019-09-01 14:24] siggerzz commented on #69
I'm also really interested in this functionality, as I have the exact same use case. However I don't have the knowledge to implement this myself.

@KaanMol Did find a way to implement this at all (using iro / other implementation)?

[2019-09-23 22:53] #81 closed

[2019-09-24 00:16] jaames opened #83 "iro.js 5.0 discussion"
What a wild year! iro.js hit 500 stars on Github, over 1000 NPM installs per week, and was featured on a number of web publications such as Creative Bloq, Codrops and JS Weekly!

I've been thinking a lot about what the next steps for this project might look like now that it's finally stable and fitting most people's requirements pretty well. I figured it would be worth sharing my ideas for discuss

[2019-10-01 07:36] davemccoy opened #84 "bug; marker position wrong when parent has css transform: scale(1.2);"
Hello. I find bug. When parent/container element has css atribute transform: sclae() http://prntscr.com/pd8bs9 , when change color marker position is wrong

https://codepen.io/dave_maccoy/pen/abogKGv

[2019-10-01 11:23] jaames commented on #84
I'm not entirely sure why you need to use `transform: scale()` on the color picker, but that isn't going to work with iro.js

If you're trying to change the size of the color picker, you can use the `width` and `height` options: https://iro.js.org/guide.html#color-picker-options

If you need to change the size of the color picker at any point, you can use the `resize` method:
https://iro.js.org/co

[2019-10-01 11:23] #84 closed

[2019-10-01 13:17] davemccoy commented on #84
I need to scale all block like this http://prntscr.com/pddwxy https://codepen.io/dave_maccoy/pen/abogKGv , and after transfrom marker position wrong. this is bug, why not?

[2019-10-01 13:40] jaames commented on #84
CSS transforms like scale, rotate, etc are only visual effects, they don't change how mouse events are handled. Since the scale isnt being applied to the mouse input it treats it like the color picker isnt scaled, which is normal and can't really be fixed

[2019-10-01 14:32] davemccoy commented on #84
I make something worflow constructor like this http://prntscr.com/pdf7x2 , so it have buttons to zoomIn/zoonOut, click on it - workflow container change it scale

[2019-10-03 07:59] rjsachse commented on #83
i would really like the kelvin scale to be implemented. i am designing a app now to control led lights and this would be a added bonus. also might b able to add it to the esp8266 milight hub

[2019-10-03 08:00] rjsachse commented on #69
+1 for this

[2019-10-13 12:04] FryerTuck opened #86 "missing wheel component margin"
### To the point
First of all: amazing library, thanks!
While this may be a feature request, this is causing some UI issues for me as I can adjust the slider margins, but, what if I need more space between the wheel and sliders, and less space between the sliders?

Have a look at this screenshot for clarity:
[![Screenshot-20191013-130431.png](https://i.postimg.cc/9fk0vsvY/Screenshot-20191013-13043

[2019-10-13 12:46] jaames commented on #86
You can use the `layouts` option to get a bit more flexibility, including passing different `sliderMargin` values to each slider:

[code]

I'll see if there's anything I can do to make this easier and to improve the documentation on this subject, since I realise it's not exactly obvious. I'll add it to the iro.js 5.0 thread (#83).

Thanks! :)

[2019-10-13 12:46] #86 closed

[2019-10-13 13:13] FryerTuck commented on #86
Awesome!<br>
**pitfall**
- if you use this, you need to ***remove this attribute***: `transparency:true,`

else you get 2 transparency sliders :D

[2019-10-14 19:26] jaames commented on #83
Small update: I've made a semi-working Svelte port of the standalone version of iro.js. I'm not convinced that it's worth going forward with this idea:

* I estimate that the final bundle size of iro.min.js is going to be about the same as the current version -- around 21 kB.
* Svelte introduces some slightly weird custom syntax that might not be familiar to most JS devs, and that could deter peop

[2019-10-15 09:13] jaames commented on #83
Pull request #85 adds the groundwork for this via a global `layoutDirection` prop. This will be merged into iro.js after the move Typescript and Preact X is done :)

[2019-10-15 22:43] jaames commented on #83
I made some pretty good progress with this today! The Typescript port is complete, although it needs a bit of polish, and I think I may eventually move the build process over to microbundle to simplify that a bit.

I've also been thinking a lot about how the "split-core" idea could work. My initial plan was to separate all of the code that wasn't directly related to the UI (e.g. color conversion)

[2019-10-17 00:52] 13546777510 commented on #45
![image](https://user-images.githubusercontent.com/20255750/66969126-e64e8680-f0ba-11e9-96cd-62adb14ca706.png)

Angular / ionic3 / iOS 13.1.2

[2019-10-17 03:04] 13546777510 commented on #45
@jaames I am running on the iOS 13.1 emulator, but this issue still occurs.

![image](https://user-images.githubusercontent.com/20255750/66974532-ed32c480-f0cd-11e9-817e-a89c5390ea31.png)

[2019-10-17 11:14] jaames commented on #45
@13546777510 Yeah, it seems to be an issue with using iro.js in an Ionic app.

Angular's router adds a `<base>` element in the page's `<head>`, which changes the base path for any relative URLs on the page. Safari also resolves SVG gradient URLs (like `fill="url(#gradient)"`) using this base path, which is why the color wheel shows as black. It can't find the gradient properly.

This stackoverflow

[2019-10-17 11:56] 13546777510 commented on #45
I didn't find information about why ionic changed the path to `ionic://app`, so it seems that ionic is probably the culprit, but it may also be accompanied by angular reasons.

After compiling with `Xcode 11.1` , it works as expected in `iOS 12.1.2` , but in `iOS 13.1.2` , it happened.

It may also be that `iOS 13.x` changed the way it worked before.

[2019-10-17 12:09] jaames commented on #45
@13546777510 strange -- could you give me the value of `window.navigator.userAgent` in iOS 13.1.2?

[2019-10-17 13:44] 13546777510 commented on #45
@jaames Thank you very much for your prompt reply.

Damn time difference, Here is the night now.

I will continue to track this issue after about 12 hours.

[2019-10-17 19:36] jaames commented on #83
I made some significant progress with the split core milestone! You can see the new iro-core package at https://github.com/jaames/iro-core

This will act as a base set of functionality thats shared across multiple UI implementations, including the current standalone version of iro.js and any future components for specific frameworks like React or Vue :)

[2019-10-17 22:27] jaames commented on #45
@13546777510 no problem!

I couldn't reproduce the issue in iOS 13.x Safari in the Xcode iOS simulator.

Does Ionic run in an iOS webview? iOS webview might have a different useragent to iOS Safari, so maybe it isn't being detected by iro.js?

[2019-10-18 00:38] 13546777510 commented on #45
@jaames
I have created an ionic3 project with only iro.js. After running to iOS 13, I recreated this problem.

I am creating a github repository and writing README.md to guide you to run the ionic project to the simulator.

wait a moment...

[2019-10-18 00:50] 13546777510 commented on #45
@jaames Everything is ready, you can start testing.

[https://github.com/13546777510/irotest](https://github.com/13546777510/irotest)

[2019-10-18 00:54] 13546777510 commented on #45
@jaames  I reproduced this problem.

![image](https://user-images.githubusercontent.com/20255750/67057847-c7b4c200-f184-11e9-8c17-8e4223ede010.png)

[2019-10-18 00:58] 13546777510 commented on #45
After running on the emulator, I got this value through the Safari debugger.

`"Mozilla/5.0 (iPhone; CPU iPhone OS 13_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148"`

[2019-10-18 14:59] 13546777510 commented on #45
@jaames Any progress on this issue?

[2019-10-18 15:16] jaames commented on #45
@13546777510 Yes, thank you for creating a test repository, it was very helpful!

It looks like the problem is that Ionic sets the value of `window.location.protocol` to `ionic:`, and that's breaking absolute SVG gradient URLs.

I think I have a fix, I'll create a new branch in a moment :)

[2019-10-18 15:29] jaames commented on #45
@13546777510 Please try replacing iro.js with this script: https://github.com/jaames/iro.js/blob/ionic-svg-url-fix/dist/iro.js

Expected result:
<img width="447" alt="Screenshot 2019-10-18 at 16 24 22" src="https://user-images.githubusercontent.com/9112876/67107429-6280c100-f1c4-11e9-95bb-c1fcb1481c5a.png">

If it works, I'll push it as iro.js version 4.5.2

[2019-10-18 16:23] 13546777510 commented on #45
@jaames Great, it works as expected!

![image](https://user-images.githubusercontent.com/20255750/67110333-130eb500-f205-11e9-993d-a17c5d6dee2d.png)

[2019-10-18 16:34] jaames commented on #45
@13546777510 Excellent, I'm glad that worked! :)

I published the fix on NPM, so please update to iro.js v 4.5.2

[code]

[2019-10-18 16:35] 13546777510 commented on #45
@jaames Good, thank you very much

[2019-10-19 01:37] 13546777510 commented on #69
+1 , Smart home needs it.

[2019-10-19 04:31] leonardosalles commented on #45
I am still facing this issue, Ionic 4 with iPhone XS - iOS 13.1.2 @jaames

[2019-10-19 05:08] 13546777510 commented on #45
@jaames @leonardosalles I have reproduced this issue in ionic4 and created a repository to reproduce this problem.

[code]

![image](https://user-images.githubusercontent.com/20255750/67138082-3a9b6700-f271-11e9-8b57-3ab80d2f22d3.png)

[2019-10-19 09:42] jaames commented on #45
:/ Any idea what's causing it?

I'll see what I can do, but I can't promise that this can be fixed. I'm not familiar enough with Xcode + Ionic to understand how to debug it properly

[2019-10-19 13:09] jaames commented on #45
It seems Ionic 4 doesn't support relative SVG gradient URLs, but Ionic 3 does? I think that's like a bug on their end.

Anyway, I found a workaround using [protocol-relative URLs](https://tools.ietf.org/html/rfc3986#section-4.2) that fixes the test repository and also works in the latest versions of macOS and iOS Safari.

@13546777510 @ leonardosalles Please try replacing iro.js with this script:

[2019-10-19 15:40] jaames commented on #37
I've nearly completed the Typescript port, you can find the code over in the [typescript branch](https://github.com/jaames/iro.js/tree/typescript/src)

I would really appreciate feedback from anyone more knowledgeable about Typescript, since I'm pretty new to it and there's still lots of things I'm unsure about.

My main concerns are the way I had to extend the color picker prop and state types, t

[2019-10-19 15:53] KaanMol commented on #37
Hey @jaames,

The reason is that they have to be types. This is a so called intersection type.
https://www.typescriptlang.org/docs/handbook/advanced-types.html

The way you are extending the component class is as far as I am aware correct.
Maybe this will help you:
https://github.com/scurker/preact-and-typescript

[2019-10-19 16:13] jaames commented on #37
Hi @KaanMol

Ah, so it's okay to do `type Props = { ... } & SomeOtherProps` for `Props` to inherit from `SomeOtherProps`? I was unsure because anywhere I see Typescript used with React/Preact I've seen component props defined with interfaces e.g. `interface Props {...}` and I presumed `interface Props {...} extends SomeOtherProps` would be more correct.

Also -- Typescript docs are a bit unclear a

[2019-10-19 17:09] KaanMol commented on #37
Hi @jaames,
Are you sure you cant just change the type to interfaces? Because that would be a better method indeed. It would be `interface Props extends SomeOtherProps {...}`. Maybe that is what went wrong?

I've did some research about your question, you can declare iro.js as a module. But I assume your bundler already does something like that.
It is used to read which functions are available fro

[2019-10-19 18:30] jaames commented on #37
@KaanMol Yeah, my bad, I mistyped the example in my message

The problem was related to updating a component's state by calling setState with only one property, like `setState({ width: 200 })`, although I realised that you should merge in the rest of the state object in there so it's fixed :)

The bundler does generate `.d.ts` files, but there's no `declare module` in them. I'm not entirely sure i

[2019-10-20 11:23] 13546777510 commented on #45
@jaames  I will start working after 12 hours  :)

[2019-10-20 19:13] DanielPeinhopf commented on #83
Would be great to also support multiple thumbs with numbers for choosing multiple colors on one picker.
This could be usefull for animations of LED lighting. :)

[2019-10-20 19:29] DanielPeinhopf commented on #69
+1 👍

[2019-10-20 21:02] jaames commented on #69
<img width="359" alt="Screenshot 2019-10-20 at 21 51 22" src="https://user-images.githubusercontent.com/9112876/67166036-d3baa280-f383-11e9-8467-f4cc0f6614e9.png">

I began implementing support for kelvin temperatures as well as a kelvin slider :)

This will be released as part of [iro.js 5.0](83)

[2019-10-20 23:53] jaames commented on #83
@DanielPeinhopf Thanks for the input! I can see how picking multiple colors at once might be useful, I'll have to think about how to implement that though :)

[2019-10-20 23:58] jaames commented on #83
Also, I just implemented an optional hue-saturation square to see how it would fit with the rest of the picker. This means iro.js could be made into the same type of color picker you see elsewhere.

<img width="367" alt="Screenshot 2019-10-21 at 00 52 24" src="https://user-images.githubusercontent.com/9112876/67168518-39675880-f39d-11e9-9b4d-0a1d9d83ae26.png">

It doesn't add too much extra code (

[2019-10-21 00:10] jaames commented on #69
<img width="327" alt="Screenshot 2019-10-21 at 01 08 32" src="https://user-images.githubusercontent.com/9112876/67168776-54d36300-f39f-11e9-8b66-6658ca102c0f.png">

I also tentatively implemented a circular slider type like the one used in @KaanMol's screenshot, does anyone care about this in particular? Or is having a simple kelvin slider type fine?

[2019-10-21 00:15] jaames commented on #80
Going to close this since the Typescript port is pretty much done, now I'm just working on adding other 5.0 features :)

Thanks for the help! I'll make sure to credit you

[2019-10-21 00:15] #80 closed

[2019-10-21 00:17] jaames commented on #76
Closing this since I don't think it's important to add this

I might consider adding a simple way to extend iro.Color to add extra properties, though

[2019-10-21 00:17] #76 closed

[2019-10-21 00:32] 13546777510 commented on #69
@jaames Wow, it’s cool! I think it can be used as an option. You can choose it yourself through the layout option. That would be great.

Like this:
[code]

[2019-10-21 01:15] 13546777510 commented on #45
@jaames In ionic4, this problem is fixed. But the issues with ionic3 has appeared again, The same is true for real devices.

![image](https://user-images.githubusercontent.com/20255750/67170154-79046380-f3e2-11e9-9bfd-c048cd4c32a1.png)

[2019-10-21 01:24] 13546777510 commented on #45
@jaames Did you reproduce this issues in ionic3?

[2019-10-21 10:33] jaames commented on #45
@13546777510 I wasn't able to test in Ionic 3

Is there any way to check which version of Ionic is running from Javascript? I think iro.js will have to detect which version of Ionic is being used to know how to resolve gradient URLs

I'd also appreciate it if someone could report this as a bug to Ionic, because I don't want to have to keep adding checks for every future version of their library. I

[2019-10-21 10:49] KaanMol commented on #37
I think we can just let it go for now, and test if the types are loaded correctly. If that isn’t the case, we can just add it.

[2019-10-21 12:12] 13546777510 commented on #45
@jaames @leonardosalles

I am worried that I have not described it very clearly, so if there is any need to add a description, I hope you can go to that question to help continue to add.

tks.

[2019-10-21 12:53] 13546777510 commented on #45
@jaames The question was replied. He said that it was not an ionic problem, but a problem with cordova. I might also need to apply for help from cordova.

[2019-10-21 13:56] jaames commented on #45
@13546777510 Thank you for following that up :)

Would it be reasonable to ask people to use Capacitor instead of Cordova if they want to use iro.js in an ionic app?

Looking at the issues in cordova-plugin-ionic-webview repository, there haven't been any replies from the Ionic team in a long time...

[2019-10-21 13:59] jaames commented on #69
That's the plan! To make a circular kelvin slider like in my last screenshot, `layout` would look like this:

[code]

[2019-10-21 14:11] 13546777510 commented on #45
@jaames Apache Cordova is also called PhoneGap. As for why Capacitor is also present, I suspect that for historical reasons, they are now suitable for large mixed app projects.

I have always used cordova in my project because it's open source cordova-plugin is enough to meet my project needs.

For the time I started learning to program, I have never known the plugin for Capacitor.

I don't really

[2019-10-21 14:19] 13546777510 commented on #69
@jaames It feels very cool, I am looking forward to this

[2019-10-21 14:22] 13546777510 commented on #69
@jaames I will use the strip slider more, but the prototype slider looks cooler.

[2019-10-21 14:33] 13546777510 commented on #45
@jaames Is there a better solution for compatibility with ionic?

Perhaps this issue is worthy of discussion with developers who use ionic to develop smart home apps. RBG strip controllers require iro.js support.

[2019-10-21 15:26] jaames commented on #45
@13546777510 to be honest, I don't know

If the issue is cordova-plugin-ionic-webview then it's strange that iro.js works in one version of Ionic but not the other, unless there are different versions of cordova-plugin-ionic-webview?

I've never used Ionic or Cordova before, and I don't understand them very well, so I'm not certain.

I think I will open a new issue to ask for help from developers

[2019-10-21 15:33] 13546777510 commented on #45
@jaames I agree to wait for the help of developers with Ionic and Cordova experience, and I will always be concerned about this issue.

[2019-10-21 15:40] 13546777510 commented on #78
I support this feature, and I will wait for the development of this feature. I will be put into use immediately.

[2019-10-21 16:43] jaames opened #88 "Iro.js gradients do not render properly in cordova-plugin-ionic-webview on iOS"
This is a continuation from the conversation near the end of #45

**Context**

Safari for iOS/macOS and iOS webviews handle SVG [IRIs](https://www.w3.org/TR/SVG11/linking.html#IRIReference) strangely, and sometimes require references for things like gradients and filters to be absolute urls (for example, instead of `fill="url(#gradient)"`, you need to use `fill="url(https://example.com/some/page#g

[2019-10-21 16:45] jaames commented on #45
I'm going to close this issue thread, but please feel free to continue on #88 if you find anything new

Thanks!

[2019-10-21 16:45] #45 closed

[2019-10-21 19:29] #88 closed

[2019-10-21 19:32] jaames commented on #88
Thanks to #89 this should now be fixed, please update to the latest version of iro.js :)

[2019-10-21 19:38] jaames commented on #45
@13546777510 @leonardosalles

Looks like this was fixed with #89, so please update to the latest version of iro.js!

[2019-10-21 20:14] leonardosalles commented on #45
@jaames thanks for the support, will try the latest version soon.

[2019-10-21 20:46] DanielPeinhopf commented on #69
Wow, great. 👍 Thanks @jaames.

[2019-10-21 21:59] jcesarmobile commented on #83
Have you looked at [stencil](https://stenciljs.com/)?
It uses jsx too and it’s supposed to make it easy to export a component for angular and react

[2019-10-21 22:45] jaames commented on #83
@jcesarmobile Stencil is neat, I've used it before for an unrelated project

My only real complaint is that it lazy-loads extra polyfill scripts, since my motivation for creating iro.js came from wanting a colorpicker library that could be dropped into a project as a single script without any extra jQuery / images / css / etc

I might consider it again in the future, their fall 2019 roadmap looks

[2019-10-22 00:09] 13546777510 commented on #45
@jaames Everything is normal now, it is worth celebrating! Thank you very much for the help of @jcesarmobile 👍

[2019-10-24 10:26] AtmiyaVaghela commented on #69
Excellent work! I want to use this in my project. Waiting for release iro.js 5.0

[2019-10-24 13:28] jaames commented on #83
Taking a short break from code to mock up a new design for the iro.js.org landing page. The current one is pretty minimal and doesn't really show what iro.js can do very well. I decided I want to put more focus on being a bit more flashy and visually demonstrating what sets iro.js apart from other javascript color pickers.

I also think it's important to have a basic setup guide on the initial lan

[2019-10-24 15:40] DanielPeinhopf commented on #83
I love it. Cant wait to see it in action 😍

[2019-10-27 10:51] bakman2 commented on #83
Would a brightness slider fit in there as well ? And to top it off - a slider _without_ a wheel (as some lights only support brightness and no color).

[2019-10-28 23:19] jaames commented on #83
@bakman2 Removing components (and adding extra ones) can already be done with [Custom Layouts](https://iro.js.org/guide.html#custom-layouts), although granted, redoing this documentation is on the to-do list since it's not particularly obvious right now :)

I'm unsure if a brightness slider (referring to the intensity of a light source rather than the color of it?) is really within iro.js' area of

[2019-10-28 23:26] bakman2 commented on #83
Thanks for your response

I am referring to the L/V in HSL/V, but I guess that is already covered

Do you perhaps have a little hint how I can use this library in vue ? When I include it in my main index.html, somehow I cannot initialize a new picker (using the mount option referred somewhere else in the issues, and using the vue mount() method) - sorry it is offtopic

[2019-10-28 23:32] jaames commented on #83
@bakman2 for now there's a wrapper; https://github.com/irojs/vue-iro-color-picker. This was written by a third party and I'm yet to do any work on it myself, so I can't guarantee that it's totally complete, but it might be useful to reference at least.

In the next week or so I intend to write React and Vue implementations of iro.js as part of the 5.0 milestone.

[2019-10-29 00:26] jaames commented on #83
Speaking of which, it's probably time for a progress report!

iro.js 5.0 is mostly complete and on feature-lock, the current changelog looks something like this:

**Additions**

* New value/saturation box component
* Optional vertical sliders (with new `layoutDirection` color picker option)
* Optional circular sliders (with new `sliderShape` option when used with custom layouts)
* New slider type

[2019-10-30 13:27] jaames commented on #83
A 5.0.0 beta is now available if anybody would like to try it! This is a beta so obviously I don't recommend using it in production, and documentation is still in progress.

From NPM:

[code]

Manual download:

https://raw.githubusercontent.com/jaames/iro.js/v5-dev/dist/iro.min.js

[2019-10-30 13:28] jaames commented on #37
iro.js 5.0.0 (which is written in Typescript) is now in beta if anybody would like to test it! Obviously I don't recommend using it in production, and documentation is still in progress.

From NPM:

[code]

[2019-10-30 13:37] jaames commented on #69
iro.js 5.0.0 is now in beta if anybody would like to test it! Obviously I don't recommend using it in production, and documentation is still in progress.

From NPM:

[code]

Manual download:

https://raw.githubusercontent.com/jaames/iro.js/v5-dev/dist/iro.min.js

To add a temperature slider you need to use the `layout` option to specify a custom layout:

[code]

[2019-10-30 19:48] jaames commented on #69
@DanielPeinhopf oh sorry, add `layoutDirection: 'horizontal'` to the slider :)

[2019-10-31 20:19] jaames commented on #69
@AtmiyaVaghela you can re-render the color picker with a new layout with the `updateOptions` method

[code]

[2019-11-04 18:38] DanielPeinhopf commented on #69
Thank you. I thought it would be vertical because of the vertical slider orientation inside of the wheel.
But it works :)

[2019-11-17 00:57] jaames commented on #83
Hey, sorry for the lack of progress. TBH I've been really struggling with burnout recently and I'm finding it difficult to find motivation to keep going with this project. The job hunt I mentioned also hasn't been going very well -- I live in a very tech-illiterate area and moving isn't possible, so there aren't a lot of options to begin with, and those who are hiring don't seem to be interested i

[2019-11-22 09:57] redpik opened #90 "Impossible to get #ffffff"
It's impossible.

[2019-11-22 17:03] jaames commented on #90
Can you please explain the issue in more detail? "its impossible" isnt much to go on

[2019-11-25 09:29] redpik commented on #90
https://codepen.io/rakujira/full/WZOeNq

Try to obtain #000000 : easy.
Try to obtain #FF0000 : possible.
Try to obtain #FFFFFF : impossible.

[2019-11-25 10:30] jaames commented on #90
I see, you're talking about trying to get specific colors?

To be honest that's... kinda the point of this style of color picker. It's for cases where the precision of a color isn't super important, like RGB lighting.

That said, you can use the [Custom Layout](https://iro.js.org/guide.html#custom-layouts) feature to add a saturation slider if you want, which will make it easier:

[code]

Or you c

[2019-11-25 10:30] #90 closed

[2019-11-25 13:56] redpik commented on #90
Okay, thank you for your answers.

[2019-12-02 05:53] AtmiyaVaghela commented on #69
Thank you very much. You have done a great job.

[2019-12-13 16:01] rwwagner90 commented on #83
@jaames I would be happy to sponsor some work on selecting multiple colors in a single color wheel. I'm trying to replicate the functionality of something like https://color.adobe.com/

I don't have a ton of extra cash, but definitely interested in helping further this along 😃

[2019-12-19 01:17] jaames commented on #83
Sorry for the slow response @rwwagner90, I really appreciate the offer!

Multiple colors should be totally possible, although in order to fit in with other features of iro.js I might have to depart from the way Adobe Color does things a tiny bit.

Can I ask how closely you're hoping to replicate the functionality of Adobe Color? Are you just looking to have multiple colors on one picker or do you

[2019-12-19 14:02] rwwagner90 commented on #83
@jaames I am implementing the harmonies myself, I would just need the color wheel to accept multiple values and I would supply the values.

[2019-12-19 23:13] jaames commented on #83
@rwwagner90 Alright, that shouldn't be too complicated then! I'm going to be a little busy until the new year, but I'll start working on multicolor and wrap up iro 5.0 as soon as I can after that :)

[2019-12-20 01:56] rwwagner90 commented on #83
@jaames what's the best way to donate to the cause?

[2019-12-20 14:07] jaames commented on #83
@rwwagner90 I usually take donations for iro.js via [PayPal](https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=XS9R3QTLZYAXQ&source=url) if that works for you, otherwise I could try getting set up with GitHub Sponsors or something

[2019-12-20 14:09] rwwagner90 commented on #83
@jaames GitHub sponsors should have matching I think, unless that is over now. Maybe try setting it up?

[2019-12-22 10:39] bertyhell commented on #54
With hooks it looks something like this:

[code]

[2020-01-01 16:57] jaames commented on #83
@rwwagner90 Great, thanks for the tip! I applied to GitHub sponsors over the holidays and got accepted earlier today. Looks like I was just in time to be eligible for donation matching :)

----

I've also put a plan together for multicolor support. I think it should be fairly straightforward if I implemented it like this, although of course I welcome feedback from anyone that's interested!

#### N

[2020-01-01 17:36] rwwagner90 commented on #83
@jaames just sponsored you! All of your proposed changes sound great to me 😃

[2020-01-01 19:36] jaames commented on #83
@rwwagner90 Thank you so much, it's really appreciated! I'll start working on multicolor right away, in the meantime please let me know if you'd like me to add you/your company to the 'Supporters' section on the iro.js readme and website :)

[2020-01-01 22:25] rwwagner90 commented on #83
@jaames you are so welcome! Yes, if you could please list my company, Ship Shape, that would be great. Do you need a logo from me?

[2020-01-01 23:09] jaames commented on #83
@rwwagner90 Sure thing! Yeah a logo would be great -- preferably in a vector format if you have that handy. I'm guessing the link should be https://shipshape.io?

[2020-01-02 14:31] rwwagner90 commented on #83
@jaames Yeah, that's the url. It will not let me upload the svg here. Are you on discord?

[2020-01-02 17:00] jaames commented on #83
@rwwagner90 I'm jaames#9860 on Discord, or you can email me at mail@jamesdaniel.dev if that's any easier :)

[2020-01-02 21:02] rwwagner90 commented on #32
@thuyettiensinh how did you do multiple colors on the wheel?

[2020-01-05 14:13] danielschlingmeier opened #92 "Source map missing"
Hello everybody! :)

I am trying to use you nice color picker in a webpage that controls my LED Lantern.

I followed the instructions: https://github.com/jaames/iro.js

So far so good, the color picker appears as intended, I can move the slider and so on. However if I try to execute a function of event (exactly as in the example) the console says:

Ressourcen-Adresse: http://192.168.2.104/js/iro.m

[2020-01-05 14:21] danielschlingmeier commented on #92
Little update: I found the map file here on GitHub and copied it on my server folder. Now I get a new message:

Ressourcen-Adresse: http://192.168.2.104/js/iro.min.js
Source-Map-Adresse: iro.min.js.map

:-(

[2020-01-05 14:28] jaames commented on #92
The source map isn't important; it's just something that your browser's developer tools can use,
since iro.js.min is compressed and minified, a source map basically helps developers find the original line and file for a specific segment of code if an error occurs.

You can find more info about sourcemaps here: https://developers.google.com/web/tools/chrome-devtools/javascript/source-maps

If you w

[2020-01-05 14:54] #92 closed

[2020-01-05 15:01] danielschlingmeier commented on #92
Oh ok, thanks for the quick reply! I
May I ask one more question: If I have a look at the iro.js file, there are tons of requests from the internet, such as google analytics, css etc. I would like to use the colorpicker in a local network without internet access. Does this work? At least the iro.min.js does not seem to fetch anything from the internet as far as I can see in Firefox network analysi

[2020-01-05 15:40] jaames commented on #92
@danielschlingmeier No worries :)

Er, which file are you looking at exactly? There shouldn't be any analytics, css, etc embedded into iro.js, and it certainly shouldn't be making any requests (besides the sourcemap like I mentioned). Everything it needs is included in a single JavaScript file, and that's done intentionally so that iro.js can operate without internet access like you're asking.

Yo

[2020-01-05 15:43] danielschlingmeier commented on #92
Example from iro.js:
`function createNode(nodeName, isSvg) {
		var node = isSvg ? document.createElementNS('http://www.w3.org/2000/svg', nodeName) : document.createElement(nodeName);
		node.normalizedNodeName = nodeName;
		return node;
	}`

[2020-01-05 16:01] jaames commented on #92
That doesn't actually make a request; [`createElementNS()`](https://developer.mozilla.org/en-US/docs/Web/API/Document/createElementNS) creates a HTML element with a specific namespace URI, and `'http://www.w3.org/2000/svg'` is the namespace URL for an SVG element.

I'm not really sure why, but this is just how you create an SVG element in JavaScript.

[2020-01-05 16:05] danielschlingmeier commented on #92
Yes I know the feeling...not really sure, but this is how you do it! 💃

:-)

Anyway thanks a lot for you support. Nice colorpicker by the way, I like it :)

[2020-01-05 16:11] jaames commented on #92
Yeah, JavaScript is just kinda one of *those* languages, lol

No problem! Thank you for the kind words :)

[2020-01-06 12:58] thuyettiensinh commented on #32
@rwwagner90
I just get the coordinates of color selected and push to the colors coordinates list and then render on the wheel. Make sure you allow wheel have css `position: relative` and color picked is `position: absolute`
By the way, I'm using vuejs to make this, you can refer to the following below (image attached)

![irojs](https://user-images.githubusercontent.com/21211244/71819484-a2b65800-3

[2020-01-06 13:04] thuyettiensinh commented on #32
I'm not sure it can work for now, because it's the two years ago :thinking: :thinking:
But you can think about my stupid idea :grin: :grin:

I hope it can help you @rwwagner90

[2020-01-06 20:56] zecjy commented on #83
Just wanted to thank you for you great work! I implement your Color Picker at the moment for my smart light build with WS2812 LED strips and a yeelight and it's very easy to use but at the same time helped me to get really into colors (HSV etc...).
Keep it up!

[2020-01-06 21:31] jaames commented on #83
Thank you @zecjy, that's really great to hear! :)

----

Also @rwwagner90 I have a basic multicolor implementation working, it still needs some polish (as well as tests, documentation, etc) but it should be ready by next week. :)

![Screen Recording 2020-01-06 at 20 59 48](https://user-images.githubusercontent.com/9112876/71849529-2b86c100-30ca-11ea-8da2-7fcaceea4fd3.gif)

[2020-01-06 21:43] zecjy commented on #83
Maybe a small suggestion, since I needed it for my project:
Brightness slider based on a logarithmic function. My LED strips have way visible difference from 0-30 then from 30-100 and thus I needed more area on the slider for the lower brightness values.

Also, I couldn't find anything about dynamic sizing of the Picker?

[2020-01-07 00:22] rwwagner90 commented on #83
@jaames that is looking amazing! Really looking forward to trying it out 👍

[2020-01-07 16:59] danielschlingmeier opened #93 "Setting the Color Picker color "externally" via JS"
Hello! Its me again! :)

I have one more question about the colorpicker (hopefully the last one :-)):

I have the need to update the colorpicker externally via JavaScript, which is because the selected color may be changed by another application and therefore I read it back from server and try to update the colorpicker via JavaScript. According to your documentation this shall be possible, but I c

[2020-01-07 19:36] jaames commented on #93
Hi!

iro.js only listens for changes on direct color properties like `color.rgb` or `color.hsl`, and not sub-properties such as `rgb.r` or `hsl.s`. You'll need to set all the values of `colorPicker.color.rgb` in one go, like:

[code]

For reference, when you set one of the color properties in iro.js, it fires a bunch of events internally which results in the wheel re-rendering. If you were to set

[2020-01-07 19:36] #93 closed

[2020-01-07 20:44] danielschlingmeier commented on #93
Hello! Yes well, firing 3x is not what I intend, no, but actually it doesn't seem to fire any event if the sub-properties r, g, b are changed. However it works fine if I change the color with the access method you proposed. Very nice! Thanks very much once again! :-)

[2020-01-08 07:46] joshua7v opened #94 "Is is possible to make custom sliders?"
hi,

currently, with v4, is there a way to build a custom slider which can update the color on wheel properly?
basicly it means can i control the wheel with the api exposed?

maybe write a custom plugin could work, but it feels like not necessary to write a plugin to make it work.

[2020-01-08 08:06] jaames commented on #94
What type of slider are you looking to implement? I was considering adding some kind of custom slider support in v5, but I'm not sure how it will work yet.

[2020-01-08 08:22] joshua7v commented on #94
In my case, the slider could be any type.
So, what i need here, is to control the wheel with js, all the sliders are just other components which can listen and emit events.
The built-in sliders aren't customisable, so it would be great to provide such api.

[2020-01-08 21:14] jaames commented on #94
If you want to just use iro.js' color wheel and implement your own slider controls, you can use the [custom layouts](https://iro.js.org/guide.html#custom-layouts) feature to remove all components besides the wheel:

[code]

My plans for 'customisable' sliders in iro.js would be pretty basic. You'd be able to customise the slider gradient and how it handles input changes, kinda like this:

[code]

[2020-01-08 21:57] jaames commented on #83
@zecjy Logarithmic sliders probably aren’t something that I would add to iro.js directly; I can’t really see a lot of people needing them and I would prefer to keep iro.js free of feature-bloat. With that said, in #94 I mentioned I might consider adding some options for customised sliders, which should make it possible to build a slider like you're asking for, at least if you bring your own math.

[2020-01-09 02:26] joshua7v commented on #94
@jaames thanks a lot.

My original question is actually perfectly answered by the upper part of your reply.
The issue is I cannot figure out how 😂
Before asking, I'm not even sure is it possible without making a custom plugin.
I read through the docs, but cannot find any event could move the handle programmaticly.

[2020-01-09 10:51] DanielPeinhopf commented on #83
LEDs are very different in its behavior so this should be handled as close as possible to the hardware. So i think your LED controller should handle this.
This is also known as gamma correction.

[2020-01-09 12:44] jaames commented on #94
@joshua7v I'm not really sure that I understand what you're trying to do?

[2020-01-09 13:23] joshua7v commented on #94
@jaames ok, sorry about that
I just realized how silly i am.
Yeah, no issues any more.
What i'm asking here is already provided by directly set `colorPicker.color.hexString`.
not `colorPicker.color = new iro.Color()`

[2020-01-09 13:23] #94 closed

[2020-01-09 14:20] jaames commented on #94
Ah, no worries :)

[2020-01-10 17:18] inconduit opened #95 "transparency slider rendered twice with two ColorPicker instances"
i'm using ColorPicker in a react project and instantiating it per the advice in another issue. i'm opting to not show the brightness slider by providing the layout prop array as per the docs.

if i render only one instance of this component, everything is fine. when i render a second one, the transparency slider gets rendered twice in both components.  am i missing something in the docs? is this a

[2020-01-11 21:46] jaames commented on #83
@rwwagner90 I put together a beta build with multicolor support! Everything works as detailed in the [feature proposal](https://github.com/jaames/iro.js/issues/83#issuecomment-570067422), except `colorPicker.color` is always mapped to the currently active color. It needs a little bit more polish, but it should work well enough for testing.

From NPM:

[code]

Manual download:

https://raw.githubus

[2020-01-11 23:43] rwwagner90 commented on #83
Awesome, thanks @jaames! I will play with the beta in the next day or two.

[2020-01-12 00:08] rwwagner90 commented on #83
@jaames is there a way to set the selected colors programmatically? I'm able to get it to render with the list of colors, but then I do not know how to overwrite the list with a new set of colors.

[2020-01-12 00:37] jaames commented on #83
@rwwagner90 Yep! Once the color picker is set up you can access the selected colors with `colorPicker.colors`, which will be an array of color objects. Each of those color objects has several different properties that you can get and set, like with [`colorPicker.color`](https://iro.js.org/guide.html#selected-color-api). When any of these are set to a new value, the color picker will automatically

[2020-01-12 12:11] rwwagner90 commented on #83
@jaames I need a way to change the entire array of colors, insert and remove colors etc. I'm thinking like

[code]

The use case is for selecting a color palette and changing out all the colors to match the palette. An alternative would be to create a new iro instance each time, but I wasn't sure the correct way to destroy the existing one before creating a new one.

[2020-01-12 17:15] jaames commented on #83
@rwwagner90 `colorPicker.addColor()` and `colorPicker.removeColor()` are implemented, although `removeColor()` expects the color's index to be passed as an argument rather than the color's value.

I'll look at adding something like `setColors()` when I get the chance, but here's what a basic implementation that matches your suggestion would look like:

[code]

[2020-01-12 17:54] DanielPeinhopf commented on #83
The new multi color picker is great 👍
Many many thanks.
Would it be possible to add an option to display index numbers around the thumbs?
And another great thing would be to add new thumbs by clicking somewhere inside the wheel, instead of moving the thumb which has been selected last.

[2020-01-12 19:46] rwwagner90 commented on #83
@jaames ah, thanks! I did not see `addColor` or `removeColor` in the docs. Are they new for 5.0?

[2020-01-12 19:56] jaames commented on #83
@rwwagner90 no problem! yeah, theyre new, they were added as part of the multicolor proposal above :)

@DanielPeinhopf I like those ideas! I think I'll save them for a future version though, I really need to focus on updating documentation for now

[2020-01-16 19:34] hexxter opened #97 "Change the handle position without firing an event"
is it necessary to set the position of the button to an other location (color value)  without fire a event.
In my case i have multiple browser and send to each of it the RGB value via mqtt. If i slide to an color value i will transfer it to the other clients and set the button to the new color position.

Thx Hexxter

[2020-01-16 19:55] jaames commented on #97
Sorry, I'm kinda struggling to understand what you're asking.

It sounds like you might want to use the `input:change` event instead of the `color:change` event. The difference is that `input:change` only fires when the color has been changed *with user input*, while `color:change` fires *whenever* the color is changed.

Here's some example code:

[code]

[2020-01-16 19:55] #97 closed

[2020-01-17 13:44] umesh25 opened #98 "how i can use this in angular 1 ?"
I have an app in Cordova, using angular 1. I want to add this color picker in that. So, how can I add this?

[2020-01-17 17:00] jaames commented on #98
That's a bit of a broad question, and I haven't personally used Angular or Cordova enough to be able to give any advice.

What have you tried? Did you run into any problems?

[2020-01-31 11:48] #98 closed

[2020-01-31 11:49] jaames commented on #98
closing this due to inactivity, feel free to reopen/comment though

[2020-02-09 13:54] rwwagner90 commented on #83
@jaames how are things going?

[2020-02-09 15:41] rwwagner90 commented on #83
I need a way to know which handle is associated with which color, so I can "select" the handle and style it differently, move it above all other handles, etc. Is this something that is currently supported? Like how on color.adobe.com when you click other colors it moves the handle above all the other handles.

[2020-02-09 18:28] jaames commented on #83
@rwwagner90 Things are going alright! I'm still working away on updating the documentation website, progress has been a little slow since I've also been busy with freelance work and applying to a job, but it is very nearly done now. I just need to give it a bit more polish and write some examples to demonstrate new features.

At the moment the handle for the currently active color should always be

[2020-02-09 18:31] rwwagner90 commented on #83
@jaames sounds good! Docs in general are definitely more important.

Sounds like we may need a function like `makeActiveColor` where we could set which color / handle are active and move that svg to last in the list, so it is on top.

[2020-02-09 18:45] jaames commented on #83
@rwwagner90 There's a `setActiveColor` method that should do the trick!

Obviously the multicolor stuff isn't publicly documented yet (...heh), but here's the relevant part of the source if you want to see what's available: https://github.com/jaames/iro.js/blob/e66e0ee560bc0be31fe2fb8d8e0af203057380ac/src/ColorPicker.tsx#L79-L113

[2020-02-10 03:00] rwwagner90 commented on #83
@jaames `setActiveColor` doesn't seem to change the color selected. Are you sure it is working as intended?

[2020-02-10 20:50] jaames commented on #83
@rwwagner90 It's the same method called internally when you interact with one of the UI handles, so as long as the last handle you interacted with is shown on top of all the others, it should definitely be working correctly. `setActiveColor` expects to be passed the color *index* rather than the color value though, maybe that's catching you out?

In lieu of documentation I put together a quick Cod

[2020-02-10 22:07] rwwagner90 commented on #83
@jaames I was passing the index. It still doesn't seem to work for me. However, I do not have a reference to the actual color index, I was just setting to the index it was from the order of colors I had. If I set all the colors a few times, does the index keep growing? I wonder if with several palettes, my indices are like 15, even though I only have 4-5 colors.

[2020-02-10 22:30] jaames commented on #83
@rwwagner90 Ah, my bad. The color index shouldn't keep growing, assuming that you're using the `setColors()` method I posted whenever you switch the color palette? Are you setting the palette as a series of color values (like hex strings or whatever) or are you using the `iro.Color` objects that iro.js provides?

I'll take a deeper look tomorrow since it's getting late here, but sounds like there

[2020-02-11 13:46] rwwagner90 commented on #83
@jaames I'm doing this `this.colorPicker.setColors(this.selectedPalette.colors.mapBy('hex'));` so I am setting colors as hex. Should I be doing something else?

[2020-02-11 15:07] jaames commented on #83
@rwwagner90 That looks correct to me.

I made a basic multi-palette demo on Codepen to test, and everything seems to be working okay as far as I can tell. Not sure if there was something I missed? The only change I made was having `setColors` fire its own event so I could re-render the color swatch HTML whenever the selected palette is switched.

https://codepen.io/rakujira/pen/poJJYVP?editors=001

[2020-02-11 15:32] rwwagner90 commented on #83
@jaames when I call `setActiveColor` nothing happens at all for me. The handle does not move, and the slider does not switch to the new color. I'll try to debug more later today. Should I be creating iro color objects instead of using hex values?

[2020-02-11 15:54] jaames commented on #83
@rwwagner90 That's really strange. Just to rule out any potential browser differences, does that last Codepen work for you? It shouldn't matter whether you use color objects or hex values, etc -- `setColors()` will work with either.

I'm not extremely familiar with Ember, but is there a chance that it's doing something that affects the color picker in some way? If you don't manage to get to the bo

[2020-02-11 16:16] rwwagner90 commented on #83
@jaames yeah, the codepen works for me. I will debug more later and report back.

[2020-02-11 16:37] jaames commented on #83
@rwwagner90 Yeah, 5.0.0-5 is the right version.

[2020-02-18 02:31] rwwagner90 commented on #83
@jaames I got it to work. I was doing something dumb. Sorry about that!

I was just looking at the image above of the new stuff like the square picker, additional slider types, etc and I was curious if that stuff had also been implemented? I would love to try some of it out 😃

[2020-02-18 03:18] atchoo78 opened #99 "Converting and setting brightness"
Hello,

Thank you for creating this. When working with certain RGB/HSV compatible lights that expect a dim/brightness value (Lifx, Hue, Neopixels etc.), the following seems to work for me:

[code]

In the example above, "255" is the brightest value of the brightness range you are converting to.
If the range was 0-100 (e.g. for a percent based range), you would use "100" instead of "255".

Also, to

[2020-02-18 04:34] rwwagner90 opened #100 "Refine color selection process"
I think this applies to v4 and v5, but when clicking the handle for the color on the wheel, the handle often moves from just clicking it. Is there a way to make it less sensitive?

It would be nice to click it and have it become active, without accidentally moving the color. I was thinking perhaps it could only move if you drag the mouse, not just on click? I am not sure what potential options we

[2020-02-23 22:24] jaames commented on #99
Thanks for the notes! As of version 5.0, you can also get individual RGB values like this:

[code]

[2020-02-23 22:24] #99 closed

[2020-02-23 22:25] jaames commented on #95
Sorry for the slow response on this. This should no longer be an issue as the transparency plugin has been deprecated, and the transparency slider is now part of the core library: https://iro.js.org/advanced.html#sliders

[2020-02-23 22:25] #95 closed

[2020-02-23 22:28] jaames commented on #37
iro.js 5.0.0 is finally out! Thanks everyone for their help with porting the library to Typescript, I'll be sure to credit you in the readme :)

[2020-02-23 22:28] #37 closed

[2020-02-23 22:32] jaames commented on #69
Sorry for such a slow response on this, things have been super busy for me recently. ':)

iro.js v5 is finally done, which includes a new kelvin slider type (as well as circular sliders!). If you update to the latest version, you can create a circular kelvin slider like so:

[code]

Relevant documentation: https://iro.js.org/advanced.html#sliders

[2020-02-23 22:32] #69 closed

[2020-02-23 22:39] jaames commented on #83
@rwwagner90 Hah, no worries!

Yep, those are implemented now! The documentation can be found here: https://iro.js.org/advanced.html#custom-ui-layouts

[2020-02-24 00:33] jaames commented on #83
Also, I finally published iro.js v5 and the new documentation site! I'm going to continue working on things over the course of the next week or two, so there's still some pending changes on the docsite and little bits like the readme that I need to finish. :)

But without further ado, here's the full v5 changelog! 🎉

- Rewritten entire library in Typescript (thanks KaanMol and mksglu for getting m

[2020-02-24 00:33] #83 closed

[2020-02-24 00:46] jaames commented on #100
Ah, I think that's an oversight on my behalf, sorry about that! SVG events can be finicky at best of times so I ended up doing a lot of input handling stuff manually, but it looks some of that logic might be faulty.

I'll definitely look into refining it when I get the chance :)

[2020-02-24 00:50] rwwagner90 commented on #83
Thanks so much for all the hard work @jaames! We'll hopefully be announcing our product using your library soon 😃

[2020-02-24 00:51] rwwagner90 commented on #100
@jaames if you can point me to the relevant code where the events are hooked up, I could also try to take a look.

[2020-02-24 20:05] jaames commented on #100
@rwwagner90 Oh, no worries! I just pushed a fix that should sort it out.

If you have multiple colors on the color picker and then click one of the handles, it should now only mark that handle as active. Dragging the handle afterwards will update the color as expected.

[2020-02-24 20:05] #100 closed

[2020-02-24 23:18] rwwagner90 commented on #100
Awesome, thanks so much!

[2020-02-25 13:47] rwwagner90 commented on #100
@jaames I am still experiencing this issue. For example, try clicking inside the handle, but not 100% perfectly in the center, the handle will move. Perhaps this is because the color wheel itself accepts clicks and those clicks move the handle? Maybe we need a `stopPropagation`?

[2020-02-25 18:19] jaames commented on #100
@rwwagner90 oops, sorry! I think I must have misunderstood what you meant by 'click' -- I made mousedown not update the color, but mouseup will still update it

I'll push another fix in a second :)

[2020-02-25 18:40] rwwagner90 commented on #100
@jaames I think it would go something like:

* if you click, and the click is on a handle, just select the handle and make the color active
* if you drag a handle, update the color value
* if you click the color wheel, and the click does not intersect a handle, move the currently active handle to that location

What do you think?

[2020-02-25 19:03] jaames commented on #100
@rwwagner90 sure, sounds good to me. I'll go ahead and implement that

[2020-02-25 19:39] jaames commented on #100
@rwwagner90 I just pushed a fix, hopefully that's got it this time! Let me know if you need anything else :)

I should note that if the user nudges their mouse at all while clicking the handle, it might still register as a drag. Not really sure if there's anything I can do about that without introducing timers or something.

[2020-03-04 05:41] angelofan commented on #78
Anything about this?

[2020-03-10 18:11] rwwagner90 opened #103 "Slider styles, width, orientation, etc"
Hi @jaames! Question for you: Is there a way to make the sliders vertical rather than horizontal and/or adjust their size or switch out the svgs?

Also, I know you can switch the handle svgs, but is it possible to also switch only the selected handle? I was hoping to make the currently active color's handle larger to differentiate it.

Basically, we are looking to build the below screenshot and lo

[2020-03-15 14:29] rwwagner90 commented on #103
All of this seems to be possible via https://iro.js.org/guide.html#color-picker-options so never mind!

[2020-03-15 14:29] #103 closed

[2020-03-15 21:18] jaames commented on #103
@rwwagner90 Hey, sorry for not replying sooner!

Yeah, most of this can be done by tweaking the `layoutDirection` and the `sliderSize` color picker options. I recently also made it easier to style the handles, so with a bit of CSS you could scale the active handle:

[code]

The only thing that might be a bit hacky is making the sliders taller than the color wheel. It could technically be done by g

[2020-03-15 22:08] rwwagner90 commented on #103
<img width="359" alt="Screen Shot 2020-03-15 at 6 07 54 PM" src="https://user-images.githubusercontent.com/2640861/76711589-e6919300-66e7-11ea-91d4-d67a9cae246e.png">

@jaames here is what we have been working on. Is there a way to flip the sliders to the left side instead of being on the right?

[2020-03-15 22:09] rwwagner90 commented on #103
Ahhhh,, never mind, things are inserted in order, so switching the order gives us what we need 🎉

[2020-03-18 15:49] rwwagner90 opened #104 "New Product using Iro!"
@jaames I know a GitHub issue isn't the best place for this, so feel free to close, but I wanted to let you know we're launching the beta of Swach today, which uses Iro!

Please check it out and share with your friends and colleagues and let us know your thoughts!

https://www.producthunt.com/posts/swach

We're so appreciative of all the work you have done on Iro, and this product would not have b

[2020-03-20 20:17] icodesdeveloper opened #105 "Change color temprature range"
Hello,
When i create a color temprature kelvin slider the default range is 2194.0536499023438
to 10991.905212402344.

Is there a possibilty to make te range larger? If so, how? If not, i hope you will implement this.

Regards,
Kuno

[2020-03-23 19:16] jaames commented on #105
I forgot to document it (sorry!) but this is actually implemented!

When creating the kelvin slider, you can set min and max temperature range:

[code]

The smallest possible temperature value is `1000`, the largest is `40000`.

Again, sorry that's not documented!

[2020-03-23 19:16] #105 closed

[2020-03-23 19:34] jaames commented on #104
Hey @rwwagner90! It's super cool to see what you've done with iro! I actually downloaded Swach a couple of days back and so far it's been a really solid little app, definitely gonna use it in my day-to-day :)

[2020-03-23 19:34] #104 closed

[2020-03-23 20:40] rwwagner90 commented on #104
@jaames I'm so glad to hear that! We would really appreciate it if you shared Swach with your friends and colleagues! Also, if you have any ideas on new features or feedback on the app, please let us know. We're working on building out the next set of features now.

[2020-03-23 21:38] jaames commented on #104
@rwwagner90 Yeah, sure thing!

Feedback-wise I feel as though some UI flows are a tad convoluted, for example it took me a while to figure out how to edit the colors in a palette since I was originally clicking on the color swatches - I didn't realise that you had to click on the `...` icon instead. Making it easier to get to the contrast checker would also be nice, perhaps by adding an extra icon

[2020-03-23 21:47] icodesdeveloper commented on #105
Ok,
Thank you.
I personally think that your documentation isnt one of the easiest to
understand. (Not bad meant but just to be direct)
Buy your app self is great.

Regards
Kuno

On Mon, Mar 23, 2020, 20:16 James <notifications@github.com> wrote:

[2020-03-24 15:18] rwwagner90 commented on #104
@jaames thanks for the feedback! I definitely think those are good ideas. Will work on integrating some of them over the next couple weeks.

Does stuff submitted there have to be open source?

[2020-03-24 22:03] jaames commented on #104
@rwwagner90 Great! I look forward to seeing them :)

I don't think so, as far as I'm aware Codrops will accept anything so long as it's somewhat related to web dev / design

[2020-04-01 01:25] rwwagner90 commented on #104
@jaames

Are you saying you would like to be able to set which keys activate these things or just that some way to activate via keyboard exists?

[2020-04-01 13:54] jaames commented on #104
A bit of both I guess, basically multiple key combos that open the app, but each one opens it in a different mode, like color picker / contrast checker / etc

[2020-04-01 13:58] rwwagner90 commented on #104
@jaames but are you saying the user needs to be able to choose the key combination or does that not matter as long as there is one that can be used?

[2020-04-01 19:50] jaames commented on #104
@rwwagner90 it doesnt matter, but it would be nice if they could!

[2020-04-05 15:06] rwwagner90 commented on #104
@jaames I just added a keyboard shortcut for opening the contrast checker, as well as allowing right clicking the menu bar icon to bring up the option as well. Also, I added eyedropper support to the color inputs for the contrast checker. Still working on incorporating all your feedback, but let me know how those things work for you! If you are on MacOS or Windows, I believe the app should auto up

[2020-04-06 00:29] Aaron-Mann opened #106 "Resizing with Percentage"
[code]

I have a color-picker built into a web app, and I would like it to resize to it's container based off of screen size. However, I can't seem to find a way to set it's width value to a percentage. Am I missing something obvious, or is this not a feature yet?

[2020-04-06 00:41] Aaron-Mann commented on #78
@angelofan Looks like @jaames has put in a pull request for this feature.

[2020-04-07 00:27] angelofan commented on #106
@Aaron-Mann I also hope that iro provides a percentage width setting method, but as a temporary solution, I did this:

html:
[code]

JavaScript:
[code]

[2020-04-07 00:38] Aaron-Mann commented on #106
Perfect! Thanks for your quick response. Would be a great future issue.

[2020-04-07 00:38] #106 closed

[2020-04-16 01:27] Mocha-- opened #108 "typescript declaration file missing in dist folder"
Hi,

It looks like the pakage installed via npm is missing index.d.ts in its dist folder.

At the moment, the dist folder includes js files whereas all d.ts are missing.

[2020-04-17 22:53] jaames commented on #108
Oops, my bad! Just pushed a fix for that

[2020-04-17 22:53] #108 closed

[2020-04-20 16:56] drzony opened #109 "Cannot use types when imported into TypeScript (5.1.6)"
When importing iro.js in TypeScript:
[code]
For some reason exported object is not treated as a namespace, I tried to find out what is wrong, but came up empty.
When using the same code with 5.1.5 I get a warning about missing declaration, but everything works.
My tsconfig:
[code]
My rollup.js:
[code]
Are there any special options I need to use to compile it?

[2020-04-21 19:22] jaames commented on #109
I'm super busy at the moment so I'm afraid I don't really have time to dive into this, hopefully someone more knowledgable than me when it comes to Typescript could help shed some light here

[2020-04-22 02:11] Mocha-- commented on #109
Hi,

I've checked this issue out.

There is nothing wrong with the typescript declarations.

When constructing the ColorPicker, we shouldnt call `new iro.ColorPicker(b, {})`;

Instead, just use `iro.ColorPicker(b, {})` as iro.ColorPicker is a function rather than a newable 'function'.

[2020-04-22 08:21] drzony commented on #109
@Mocha-- Thanks for looking into it, however you missed the first part of my code where I cannot use iro.ColorPicker and iro.Color as types. I've found a workaround for it:
[code]
But I don't think that is the intended usage.
The code below still fails:
[code]

[2020-04-22 10:24] Mocha-- commented on #109
@drzony , sorry I missed the first issue that you cannot get the correct types.

I guess two ways to fix it.

1. If typescript version >= 2.7, add the below to your tsconfig.json.

[code]

2. Or simply `import * as iro from '@jaames/iro'`

**Option 1 is preferable personally.**

[2020-04-22 10:46] drzony commented on #109
@Mocha-- Unfortunatelly that does not help, still getting "Cannot find namespace iro"

[2020-04-22 10:57] Mocha-- commented on #109
Shouldn't be.

Could you please check your node_modules/@jaames/iro/dist has index.d.ts?
and also relaunch your editor.

[2020-04-22 14:08] drzony commented on #109
Yes, I've verified everything. I've created a new project and did a fresh "npm install" inside.
It contains only:
[code]
src/index.ts:
[code]
package.json:
[code]
tsconfig.json:
[code]
rollup.config.js:
[code]
Doing:
[code]
results in:
[code]

[2020-04-22 21:02] drzony commented on #109
After reading up on exporting namespaces in TypeScript:
https://dev.to/loilo/typescript-s-secret-parallel-universe-54i6
microsoft/TypeScript#10058

I created a pull request that allows using exports as types.

[2020-04-22 22:49] joshualyon opened #111 "wheelDirection support dropped in 5.x release?"
Hi @jaames - excellent work on the updates in the 5.x series.

One thing I noticed is that the `wheelDirection` option no longer seems to be supported in the 5.x series and the default wheel direction seems to be reversed compared to previous releases.

For example, most of the screenshots in the project show the wheel in what I believe is the `anticlockwise` direction with red on the right, green

[2020-04-22 22:56] jaames commented on #111
Oops, sorry about that, looks like something must have broken at some point even though I thought I tested that pretty thoroughly. I'll look into fixing that whenever I get a free moment

[2020-04-22 23:05] jaames commented on #109
Rad, thanks @Mocha-- and @drzony! I'll try to test that PR over the weekend and hopefully push the fix then :)

[2020-04-24 22:27] #109 closed

[2020-05-03 21:22] gaetan-puleo opened #112 "Kelvin, min and max values"
Hello, I want first to thank you for your lib, it's really useful.

I am working on a smart lights app.

I would have a slider with sliderType 'kelvin' and a min and a max options.

It's because some lights support only 6500 kelvins and it's strange to have a slider with a maximum of ~ 110000 kelvins.

[2020-05-03 21:26] jaames commented on #112
This is a duplicate of #105, here's what I said there:

[2020-05-03 21:26] #112 closed

[2020-05-03 21:32] gaetan-puleo commented on #112
Thank you and sorry I didn't see this issue.

[2020-05-03 21:35] jaames commented on #112
It's no problem, tonight I'll try to update the iro.js website to include those options :)

[2020-05-04 04:36] DeveloperBlue opened #113 "Change the DOM parent of a layout component"
I have ColorPicker object whose layout is made up of two components, a wheel and a slider.
Is there any way to re-parent just the slider DOM object somewhere else?

I would like to avoid creating a new ColorPicker object for slider, because the colors between the wheel and the slider would not be synced. I can't seem to find anything related to this in the documentation.

[code]

[2020-05-04 06:50] jaames commented on #113
Hm, unfortunately I don't think this is going to be possible without some major internal reworks or hacks, and that's not really something I'm willing to do at the moment

All I can suggest is maybe using two color picker objects and using their events to hook them together such that a color change event on one will change the color on the other?

[2020-05-04 08:54] DeveloperBlue commented on #113
Thanks,

I ended up doing exactly that as you suggested for a work around. I was initially worried that having the two ColorPicker objects listening to each other's changed events and updating would cause some sort of feedback loop, but thankfully that did't happen.

As a suggestion for a possible future implementation, a ColorPicker object's `color` property could accept references to a Color obj

[2020-05-04 08:54] #113 closed

[2020-05-12 17:13] jaames opened #114 "[feature] Smoother hue color ramps"
Note to future James: it might be interesting to incorporate something like Jim Bumgardner's "sinebows" to have smoother hue ramps:

https://observablehq.com/@mbostock/sinebow

http://basecase.org/env/on-rainbows

https://www.shadertoy.com/view/4tlBWB

https://observablehq.com/@mattdesl/perceptually-smooth-multi-color-linear-gradients

[2020-05-18 21:04] xRealNeon opened #115 "Event Step Delay"
Hello I wanted to ask if i can adjust how often the color change event is triggered?

[2020-05-18 21:15] jaames commented on #115
This isn't built into the library, but you can have your event handler call a [**throttled or debounced** function](https://css-tricks.com/debouncing-throttling-explained-examples/), depending on your use-case

[2020-05-18 21:15] #115 closed

[2020-05-24 17:39] xRealNeon commented on #115
I don't get it can you give me an example how to do that that every half second the event is send

[2020-05-31 12:56] joshualyon commented on #111
Hi @jaames any tips on where I might start looking to figure out why `wheelDirection` isn't working?

[2020-06-15 03:05] jeremy-smith-maco opened #116 "Localhost link in documentation"
https://iro.js.org/advanced.html#setup

The `config option` external link is linking to a `localhost` address.

[2020-06-15 03:25] angelofan opened #117 "Simplified Chinese localisation"
I have been using this plugin, it is really a very good plugin.

Every time I view the document, I have to use Google Translate, which can be read directly most of the time, but unfortunately, the code will also be translated together, when I need to copy the code, I must manually switch back Displayed in English, and translated again after the copy is completed. But for many Chinese developers, t

[2020-06-15 03:31] angelofan commented on #117
ionic Framework uses [crowdin](https://crowdin.com/) to manage translation

[2020-06-15 10:15] jaames commented on #116
Should be fixed now - cheers!

[2020-06-15 10:15] #116 closed

[2020-06-15 15:09] jaames commented on #117
@angelofan translation would be great! The documentation on [iro.js.org](https://iro.js.org) is written in markdown here: https://github.com/jaames/iro.js/tree/master/docs

I will work on adding language selection to the iro.js website, but if you want to start translating the documentation into Chinese, my ideal file structure would look like this:

[code]

Ah, I think it's possible to stop Googl

[2020-06-15 15:21] angelofan commented on #117
@jaames Thank you very much for your answer.
If your English document is updated, the Chinese needs to be marked with the updated location, so that the translator can make other language updates synchronized, such as the crowdin used by the ionic framework I said. This is the first thing you may need. Consider using a platform like crowdin to host translation documents, so that translators in more

[2020-06-15 15:46] jaames commented on #117
@angelofan I see. Are there any alternatives to crowdin? I agree that it would be helpful to manage translations, but I don't really want to pay a monthly fee for it, especially when the cheapest tier is $16 every month (over half of what iro.js earns in donations)

[2020-06-15 15:53] jaames commented on #117
Nevermind! It looks like they have an open-source plan: https://crowdin.com/page/open-source-project-setup-request

I will send a request and see what happens :)

[2020-06-15 16:11] angelofan commented on #117
@jaames I found other translation management platforms and hope we can benefit from them.

|name|type|license|link|
|:---|:---:|:---:|:---|
|serge|Free|Private license|https://serge.io/|
|mojito|open source|Apache License 2.0|https://www.mojito.global/|
|smartcat|Contains the $0 plan|-|https://www.smartcat.ai/|
|localise|Need to pay fees|-|https://localise.biz/|
|weblate|Need to pay fees|-|https:/

[2020-06-15 16:47] jaames commented on #117
Thanks @angelofan! But no worries, Crowdin just approved my open-source request!

I'll create files for iro.js there later :)

[2020-06-15 16:50] angelofan commented on #117
@jaames It is worth celebrating!

[2020-06-15 19:48] jaames commented on #117
Here's a crowdin invite for anyone who wants to help translate: https://crwd.in/irojs :)

[2020-06-16 06:36] angelofan commented on #117
@jaames I am translating the document, but I have encountered a problem.

`index.md` cannot be fully translated. Many words in crowdin have become red and are not selectable. When the mouse cursor is hovering in the red area, it will prompt:
[code]
This may be because a symbol in your Markdown conflicts with crowdin, which incorrectly assumes that you set some words in the document to be hidden an

[2020-06-16 08:50] jaames commented on #117
@angelofan Oops, sorry about that. I have un-hidden all of the strings now :)

[2020-06-16 09:01] angelofan commented on #117
@jaames Still unable to translate, you may need to sync changes to crowdin

[2020-06-16 09:16] angelofan commented on #117
The red part cannot be selected in `index.md`, the other documents are working normally, I have completed all translations, I also checked all the page anchor links, because the target anchor has been translated, the anchor link also needs to be updated, this is easy to go wrong in the future , When other translators update the translated text of the anchor target, all anchor links will not be loc

[2020-06-16 10:19] jaames commented on #117
@angelofan okay, I think Ive unhidden them correctly now, maybe try again?

Also please leave anchor link URLs untranslated - they are based on the markdown filename :)

[2020-06-16 11:21] angelofan commented on #117
@jaames It may be because of browser caching. Now the translation can be performed normally. At present, I have translated all Chinese. If the documents in the main language are updated in the future, I will continue to make synchronized updates in a timely manner.

[2020-06-16 11:26] angelofan commented on #117
@jaames Does the README.MD file of the repository need to be translated?

[2020-06-16 11:50] angelofan commented on #117
@jaames Your [crowdin activity](https://crowdin.com/profile/jaames/activity) shows that you uploaded a total of 8 files including the README.MD file located in the root directory of the repository.
![image](https://user-images.githubusercontent.com/20255750/84770306-e6b46e00-b009-11ea-83b8-f59089a10157.png)

But I can only see 7 files in the [translation project](https://crowdin.com/project/irojs/

[2020-06-16 12:43] jaames commented on #117
@angelofan Great! Thank you for your help!

Only files in /docs need to be translated, but I need to add some things to `index.md` for feature text, buttons, etc on the iro.js website :)

[2020-06-16 12:55] angelofan commented on #117
@jaames Ok, I suggest that the website can detect the browser's language preference and use it automatically, and there is a drop-down selector to switch languages manually.

[2020-06-18 17:55] Fhuyu opened #119 "Hue-saturation box component"
Hello!
I'm looking to enable hue colors in the box layout, but I can't find the option.
Is it possible?
Expected result :
![image](https://user-images.githubusercontent.com/56589674/85055219-822a1800-b19d-11ea-8a2f-6ae22a92741e.png)
Thank you in advance for your answer!

[2020-06-18 18:01] jaames commented on #119
At the moment, this isn't possible - you'll want a hue slider with the box is instead.

Personally I don't really like this type of color picker because I find them unintuitive (and that kindof goes against what iro.js is trying to be - intuitive)... but I suppose if more people want it I could stop being stubborn and add it as an option. :P

[2020-06-18 19:59] jaames commented on #117
<img width="863" alt="Screenshot 2020-06-18 at 20 58 19" src="https://user-images.githubusercontent.com/9112876/85066267-87d82b80-b1a6-11ea-919b-b52a768a032c.png">

@angelofan would this font and text size look okay for Chinese audiences?

[2020-06-18 23:21] angelofan commented on #117
@jaames No problem at all, it looks good!

By the way: This font is usually used in formal occasions and is very suitable for documents.

[2020-07-21 10:37] scottyeung opened #120 "Is it possible to change layout direction when the window is resized?"
I'm using iro.js in React. Currently when width is changed I would have to reinitialise the ref, as there's no event available to change the layoutDirection via the API. Is that something you would consider to bring up in future? Or there's a workaround for the problem?

At last, thanks for the awesome work, James!

[2020-07-21 23:48] jaames commented on #120
Kinda! You can update any option whenever you like with `colorPicker.setState()`, but looks like I forgot to document this... sorry about that. Since you're using React it's probably pretty familiar to you, e.g.

[code]

Currently the logic to do that on window resize is left up to you, but I reckon that ought to be added as a feature somehow

And thank you for the kind words!

[2020-07-22 07:34] scottyeung commented on #120
Works like a charm! Thanks!

[2020-07-22 07:35] #120 closed

[2020-07-31 04:57] jeremy-smith-maco opened #122 "Setting RGB values after initialising picker limits the RGB values"
I am not sure if I am doing something wrong or not but after I init a picker and then change the RGB values programatically, using the picker to select a colour will not print out any RGB values above the numbers that I specified when setting it. Here is some test code using the codepen example:

[code]

Same thing happens if you set it to a big number (i.e. `colorPicker.color.set({ r: 5434343, g:

[2020-07-31 19:30] jaames commented on #122
I can't seem to recreate this, and I'm fairly sure there isn't anything in the code that would cause this either

Have you been using the value slider to adjust the color, or are you just using the hue/saturation wheel to test? I ask because using the wheel only adjusts the hue/saturation, not the value, so that might be why your RGB values might seem to be "clamped"; in this case it isn't a bug,

[2020-08-01 23:25] jaames commented on #117
I still need to figure out how to translate the homepage, but the Chinese translation is live now: https://iro.js.org/zh/guide.html

Thanks again!

[2020-08-02 21:44] jeremy-smith-maco commented on #122
Oh, I definitely just misunderstood how a colour wheel works. I didn't realise it was only for setting the hue and saturation. I was only showing the wheel in our project and using that to select an RGB value but we also need the slider. Thanks for your help.

[2020-08-02 21:44] #122 closed

[2020-08-09 04:07] rjsachse commented on #111
Any Update? Are you and your family O.K?

[2020-08-09 04:10] rjsachse commented on #114
FastLed for the arduino family has this too... Might be good to look at to

[2020-08-11 20:59] drzony commented on #114
Just a word of warning, messing with rainbows might pose a problem.
Although they will look better, they will incompatible with other HSV.
As @rjsachse mentioned FastLED has it, but it means that green on FastLED is (H=96, S=100, V=100) and on iro it's (H=85, S=100, V=100). [Here](https://github.com/FastLED/FastLED/wiki/FastLED-HSV-Colors) are the details

[2020-08-11 21:42] jaames commented on #114
@drzony In this case it wouldn't affect how the color is actually chosen -- iro.js never picks from what's drawn on the screen anyway, it just figures out what the color should be based on the position of the handles. Because of that, I think I can justify messing with it a tiny bit to make it look nicer :)

I'm basically looking into adding an (optional) way to smooth out the sharper parts of the

[2020-08-11 22:05] drzony commented on #114
Yes, but if you smooth it out, take the position of the handles, then put the value of the color into some other software, then the color under the handle will look different than the color in this other software. It may even look different than the color on the lower slider. Maybe it won't be noticeable, maybe it will be very confusing to the user. I just wanted to point your attention to it. I'm

[2020-08-13 08:54] martin2250 opened #124 "Kelvin slider produces invalid color"
Hi James,

I just found a potential issue with 'kelvin' type sliders. When placing the slider exactly in the center, the resulting color has a hexstring of '#100f8ff', aka a red component of 256
![image](https://user-images.githubusercontent.com/8293473/90114378-ed820780-dd52-11ea-9b49-c4388eb8582a.png)

No special settings required, my code is
[code]
and it will reproduce in the official demo aft

[2020-08-14 20:26] #124 closed

[2020-08-14 20:43] jaames commented on #124
@martin2250

Hey Martin! Thanks for reporting that, looks like I neglected to clamp the RGB values after converting the kelvin temperature

My bad, should be fixed now :)

[2020-08-14 20:47] #114 closed

[2020-08-14 20:55] martin2250 commented on #124
Thanks, awesome!

[2020-08-15 20:18] jaames commented on #78
<img width="314" alt="Screenshot 2020-08-15 at 21 09 48" src="https://user-images.githubusercontent.com/9112876/90320829-3648e480-df3c-11ea-8e85-f0be9c3bd6e3.png">

Sliders for red, green and blue channel were added in the latest release (5.2.0) -- sorry for the wait!

[2020-08-15 20:18] #78 closed

[2020-08-17 08:49] Mjinx opened #125 "min/max value options for all slider types"
It would be nice to change temp range to min and max so it could be applied to other types of sliders such as Alpha.

or is there other ways to limit the alpha range that is reflected on the slider itself (rather than clamping the value on change event)

[2020-08-17 18:41] jaames commented on #125
Hi!

It would be really appreciated if you could provide some potential use-cases for this, I'm struggling to think of any situations where changing the range of the other sliders would be particularly useful or intuitive for users?

In theory it wouldn't be too hard to add, but I prefer not adding extra features unless they're actually going to be helpful, otherwise they're just bloat :)

[2020-08-17 18:59] Mjinx commented on #125
You got me at the bloat and yeah my edge use case might be fairly unique and specific to my use of alpha, not too sure if any one would use the limits for other color channels...

Looking at the API options if there's a Kelvin specific limits a more generic might be available or might be handy.

As for my use case, I have highlighted annotations where ideally I want to prevent users to set alpha v

[2020-08-25 06:53] SmartCodeDavid opened #126 "colorpicker does not work on touching screen PC"
The touching events are not triggered when users interact with the color picker. These issues only occur on the touching screen laptop or PC.

I did a fork and go through and trace all of the codes. The reason is because 'onTouchStart' event at ComponentBase.tsx is not existed in DOM, thus, it has been added as a customized event in this situation.
![image](https://user-images.githubusercontent.co

[2020-08-25 19:20] gitchomik opened #128 "[Feature Request ] Ring shaped UI Component (around Wheel)"
Ring shaped UI Component with same functions as sliders that allow the user to adjust a specific color channel.
- multiple rings types covering hue, saturation, value, red, green, blue, alpha
- multiple rings around the iro.ui.Wheel

Or maybe just extend component: iro.ui.Slider options `sliderShape: 'ring'`
I think that it will looks very nice, especially around the `iro.ui.Wheel`

Example:
https

[2020-08-25 20:09] jaames commented on #128
This is something I'd really like as well! Implementation-wise it'd be pretty difficult though, especially with current layout stuff and the lack of real conical gradient support in SVG

Maybe one day :)

[2020-08-25 20:19] jaames commented on #126
Hi, saw your PR earlier and left a comment there, please check it when you can! Thanks!

[2020-08-26 12:55] jaames commented on #126
fixed in #127

[2020-08-26 12:55] #126 closed

[2020-08-26 21:30] colorado-nate opened #129 "colorPicker.d.ts name change in v5.2.1 breaks linux builds"
The filename for colorPicker.d.ts changed case in version 5.2.1 from ColorPicker.d.ts to colorPicker.d.ts.  This works fine on Windows, but breaks on Linux because ComponentBase.d.ts has "import { IroColorPicker } from './ColorPicker';" in it.  That won't find colorPicker.d.ts on Linux.

[2020-08-26 21:58] #129 closed

[2020-08-26 21:59] jaames commented on #129
Huh, that's really weird, not entirely sure how that happened. Should be fixed now regardless. Thanks!

[2020-08-26 22:10] colorado-nate commented on #129
Awesome!  Does this mean that a v5.2.2 will be released soon?  Just curious on your process..  Thanks!

[2020-08-27 09:00] jaames commented on #129
@colorado-nate yeah, it should be available now, I published 5.2.2 on npm etc a couple of minutes after pushing the fix on Github :)

[2020-08-27 13:55] colorado-nate commented on #129
That fixed it, thank you for the quick response!

[2020-08-27 15:50] jaames commented on #129
no worries! ✨

[2020-08-28 10:36] jaames opened #130 "Call for content: iro.js gallery!"
Recently I've been thinking about adding an "iro.js in the wild" gallery to the [iro.js website](https://iro.js.org) to showcase some cool projects using iro.js, and to give people inspiration for how the library could be used in their own projects

Currently I only know of two projects that are definitely using it:
 - [Swatch](https://swach.io/)
 - [HEXplorer](https://codepen.io/robdimarzo/pen/xx

[2020-09-07 11:00] raldone01 opened #131 "Iro.js in nuxt"
When I try to use iro in nuxt it fails because document is undefined.
It fails on [this line](https://github.com/jaames/iro.js/blob/eaf701c9a9e550a0c196a2f3d4413be54284e334/dist/iro.js#L1035).
If I manually set BASE_ELEMENTS to {} it seems to work on windows firefox. BASE_ELEMENTS seems to be necessary for safari only. It would be awesome to fix this issue to enable server side rendering.
I search

[2020-09-07 11:32] jaames commented on #131
Ah, this is likely happening when Nuxt does its server-side page render, since DOM objects like `document` aren't defined in that environment.

Nuxt's guide has a workaround for client-side libraries that aren't compatible with this: https://nuxtjs.org/examples/plugins -- I think the general idea is you need to require the library only when `process.client` is true and do all the library setup in

[2020-09-07 11:32] #131 closed

[2020-09-07 17:28] raldone01 commented on #131
Thank you for your reply.
It would be fixed by initializing the base variable to undefined and then assigning it in the function once if the performance overhead is that bad. If the performance overhead of `document.getElementsByTagName('base')` is not relevant it may be possible to remove the global variable and just use that code directly in the if or initialize the variable every time in the fu

[2020-09-07 19:56] jaames commented on #131
Just pushed changes and published iro.js v5.2.3 on npm to fix this - thanks @raldone01!

[2020-09-14 22:04] hmaesta commented on #131
Hey, @raldone01.
Did you wrapped **iro.js** into a **Vue** plugin and mapped all events? Would you mind posting your setup as open-source?

[irojs/vue-iro-color-picker](https://github.com/irojs/vue-iro-color-picker) is the only Vue wrapper I found, but it looks very outdated (3.5.6 vs current 5.1.0).

Really appreciate.

[2020-09-15 09:21] raldone01 commented on #131
@hmaesta I didn't write a proper vue wrapper and I unfortunately don't have time to do so. I only wrote one to fit my specific use case.

[2020-09-17 13:46] sjscotti commented on #84
I hope it isn't bad form in responding to a closed issue, but I had the same issue using iro.js colorpicker within an HTML element that I needed to have scaled using the css `scale()` transform.  I couldn't come up with a workaround outside of modifying the iro.js code itself, so explored the code and found that there were only 4 places that needed to have the scale value inserted.
(Of course, iro

[2020-09-20 08:48] quentindecaillet opened #132 "RYB color wheel instead of RGB"
Hi there :) I've tried to look through all the documentation, but it seems like the color wheel can only be displayed in using the RGB model, and not the RYB. Is there any plan to implement the choice between the two in the future?

[2020-09-21 18:57] gitchomik opened #133 "[Feature Request] Setting color rage"
Please, add setting the range of colors (resolution), ie the possibility of "RGB scaling".

Currently, the resolution of each color is 8 bits (256 different values ​​from 0-255), which makes a total of 256 * 256 * 256 = 16,777,216 colors.

Each area (one-point area of ​​the color wheel) represents one of 16,777,216 color. For example, when the range will be 0-3, the possible colors will be 4 * 4 *

[2020-09-21 19:30] jaames commented on #133
Allowing the color bitdepth to be variable would require a significant amount of additional UI code to display the limited color selection, and I don't think I'm really willing to do that for a relatively niche feature to be honest. Sorry about that

I don't work with LEDs so I'm not really sure what this means, but I heard a lot of LEDs use different RGB scales and need gamma adjustments etc so m

[2020-09-21 19:30] #133 closed

[2020-09-21 19:46] jaames commented on #132
That's an interesting one! At the moment there isn't a way to do this, and implementing it would add a bit of complexity to the colorwheel rendering and input handling for sure. It uses the HSV model so it's pretty easy to compute; saturation is just the distance from the centre, hue is the angle.

Can I ask what the use-case is here? I like to keep this library small so I usually only consider fe

[2020-09-21 20:06] gitchomik commented on #133
@jaames I understand, no problem.

And for your information, your project is great for controlling LEDs (I use it myself in my software to control LED strips).
See an example of use
https://randomnerdtutorials.com/esp32-esp8266-rgb-led-strip-web-server/ where another simple HTML color picker was used (range 0-255). In my case, I used your picker.
However, due to some LED driver limitation, I will

[2020-09-21 20:22] quentindecaillet commented on #132
Thanks for the answer :) It's to integrate it into Photoshop panels I create. I find the RYB model much more pleasing when it comes to creating color harmonies for color grading purposes or digital painting/drawing.
I've found code here and there on the web to make the conversion from RGB to RYB, but haven't looked in depth as to where I'd need to implement it in IRO to make the color wheel displa

[2020-09-22 23:31] ile commented on #94
Hi,

Did you get around to implement this?

I'm looking to create a slider which can be used to create gradient type color combinations, like this:

![image](https://user-images.githubusercontent.com/433707/93947474-72921080-fd44-11ea-906c-2aad75474821.png)

So, the slider would have multiple handles/indexes, with a certain position and value (color).

[2020-09-24 12:01] jaames commented on #133
If you just need to get the color's RGB values in the 0-100 range, the math is pretty simple:

[code]

[2020-09-24 12:04] jaames commented on #94
@ile That's a little different, but I think gradient support could be cool, and it would play nicely with iro's multicolor support :) Could you maybe open a new request for that?

[2020-09-24 12:54] ile opened #134 "Slider type for gradient color combinations"
Hi, and thanks for the awesome color picker plugin.

I'm looking to create a slider which can be used to create gradient type color combinations, like this:

![image](https://user-images.githubusercontent.com/433707/93947474-72921080-fd44-11ea-906c-2aad75474821.png)

So, the slider would have multiple handles/indexes, with a certain position and value (color/hue). If there is a way to do this as a

[2020-09-24 12:54] ile commented on #94
Hi there, did it here: https://github.com/jaames/iro.js/issues/134

[2020-09-24 13:23] ile commented on #134
I would use this as a companion with the "Box & hue slider" to get the "whole color": https://codepen.io/rakujira/pen/XWbgwYm

[2020-09-27 04:02] ile commented on #59
Hmm. Are you sure this works in the latest version (@jaames/iro@5.2.3).

I'm seeing `input:start` firing after `input:change` and it also fires twice in "Box" (https://codepen.io/rakujira/pen/XWbgwYm). This happens, when I click just once in Box (on my development machine):

![image](https://user-images.githubusercontent.com/433707/94355721-22da7e80-008f-11eb-88ae-209d2fe0f5a7.png)

[2020-09-27 11:19] jaames commented on #59
@ile this is a different issue, but yes it looks like you're right. I'll take a look after the weekend

[2020-10-02 13:05] hmaesta opened #135 "Feature request: Manually change Box and Slider radius"
**Box** and **Slider** radius is currently calculated by summing `padding` and `handleRadius`.

Would be nice to manually change this value to match the default border-radius of my design system.

https://github.com/jaames/iro.js/blob/25921cd190338887cc6403226dd30ee437c6f1bd/dist/iro.js#L967-L976

[2020-10-02 23:17] jaames commented on #135
It's possible to do this with a bit of CSS:

[code]

But yeah, it'd be nice if there was a config option for this too. I'll look into it when I get the chance

[2020-10-02 23:39] hmaesta commented on #135
Thank you, James.

[2020-10-05 17:00] angelofan commented on #117
https://iro.js.org/

The homepage still needs to be translated, if you need to provide Chinese entries, I will provide them at any time.

[2020-10-13 08:22] jaames commented on #117
Thanks! I'm taking a break from working on iro.js for now, but when I am back I will do that :)

[2020-10-17 23:54] WojciechKrakowiak opened #136 "TriangleWheel picker"
I'm working on TriangleWheel picker for Iro.js and ico-core. For me (as graphic designer) it's the best color picker type, as it covers all HSL without additional sliders and is the most intuitive one (as opposite to HSL circle with white in the middle makes selecting pure white really hard).

I've H selecting done, generating triangle done and now it's time to add second drag.

@jaames I'd be hap

[2020-10-18 17:32] jaames commented on #136
@WojciechKrakowiak Wow! That's really great! I've been wanting to add this for a while :)

Personally I think separate components for the hue ring and the triangle would be perfect. Feel free to ping me if you need help with that.

You don't have to do this, but in the future I was planning to implement a radial slider that supports all the current slider types, like requested in #128. These radia

[2020-10-21 08:32] WojciechKrakowiak commented on #136
Ok, I'll make them separately :) – I'll write when it's ready or I'll have some questions.
When it comes to #128, performance wise, it'd be better to make a linear gradient fill inside the ring than generating strokes.

I checked out Canva's code in inspektor, and the ring is a rounded div with a linear gradient, and hsl whell inside is made out of several css radial gradients on a single div: htt

[2020-10-21 16:22] fm0609 opened #137 "Color export with mouseup event"
Thanks a lot for presenting the Color Picker API. In your example code you use:

`colorPicker.on("color:change", colorChangeCallback); `

Is it also possible to use a different event for triggering the function? Like `onmouseup` ? That would be a simple way to reduce the outgoing commands. Would be happy to hear from you :-)
Regards
Michael

[2020-10-21 16:27] jaames commented on #137
There's a couple of different events available, you can find a list of them here:
https://iro.js.org/colorPicker_api.html#events

If you want something that only fires on mouse up, I think you're looking for `input:end`

[2020-10-21 16:27] #137 closed

[2020-10-21 16:33] fm0609 commented on #137
Perfect! Sometimes it is so easy!! Thank you for the quick reply and the great tool!! We are also working with HUE. Might it be possible to get output color data in `xy` values?

[2020-10-21 17:10] jaames commented on #137
No worries! Not sure what you mean by xy values?

[2020-10-21 19:16] jaames commented on #136
Yeah, I've been wanting to move to proper conic gradients for a while, but in the past support for it wasn't where I wanted it to be. I suppose it could be worth looking into that again, would make a lot of things easier :)

[2020-10-22 12:00] JackmoCode opened #138 "minTemperature under 2000 will be ignored"
Hey, i have a problem that i can not fix.
Everytime i set the minTemperature of the kelvin slider unter 2000, for example "1800", the minimun will be set to 1000.
If i set the minTemperature over 2000 its working normal.
I dont find any Issue that has the same problem.
Maybe someone can help me.

[2020-10-30 11:18] JackmoCode commented on #138
No one else facing the same problem?

[2020-11-08 17:48] Aircoookie commented on #138
Hey, I can confirm that I can reproduce this issue as well with `minTemperature` set below 2000.

Additional observations:
With minTemperature set to 2200, actual minTemperature with slider all the way to the left as reported by `picker.color.kelvin` is `2194.05`.

With minTemperature set to 1999 or anything below, actual min temperature is about 1000. However, the visual rendering of the slider r

[2020-11-13 11:58] pedros89 opened #139 "Integration in Ionic works! But I have an error 'new' keyword"
Hello,
I have managed to integrate the color picker in Ionic 5 and made a repository to show that

https://github.com/pedros89/color-picker-iro.js-in-ionic

I works ok but on Visual Studio Code (which is the IDE I'm using it gives me this error:

Only a void function can be called with the 'new' keyword.

referring to the code
`var colorPicker = new iro.ColorPicker('#picker');`

![screenshot](http

[2020-11-13 13:28] jaames commented on #139
That's strange, but it will still work if you do `var colorPicker = iro.ColorPicker('#picker');` instead

[2020-11-13 13:28] #139 closed

[2020-11-13 17:37] pedros89 commented on #139
Hi James, thank you for your reply.
Actually if I try with `var colorPicker = iro.ColorPicker('#picker');`

There is the following error instead

"Expected 2 arguments, but got 1."

Well, I am still building the app and works. I hope that during the compilation I will not have problems.
Bye the way congratulations for your color picker is the best online!!
![expected 2 arguments](https://user-imag

[2020-11-14 18:07] pedros89 commented on #139
I have actually made it work
Read the Github I read about it for more info
https://github.com/pedros89/color-picker-iro.js-in-ionic

[2020-11-18 10:49] Aircoookie opened #140 "[Feature Request] Which component was modified?"
Hi James!

Terrific work on v5! I updated a few days ago and I love the new component system, especially the kelvin slider.

Now to my question: Is there a way to find out in the `input:end` event which component the user interacted with?
This info would be very useful (In my case I would like the application to behave differently to a Kelvin value than to an RGB color).

*Alternatives considered*

[2020-11-20 08:33] advename opened #141 "[Feature Request] Input field component for manual color value entry"
It would be nice to have some kind of additional input field to manually insert an rgb or hex value.

[2020-11-20 23:11] jaames commented on #140
Hi! Thank you!

I think I can do something like this:

[code]
Do you think that would work for you for now? I will probably do a larger overhaul of iro's event system at some point to make it a bit nicer :)

[2020-11-21 00:15] jaames commented on #138
Yeah, looks like there's some weird precision issues when converting between color spaces. iro uses HSV internally, but kelvin temperatures are first converted to RGB before updating the internal HSV value, so I think there's some precision loss along the way that's hard to track down.

This reliance on HSV is for legacy reasons -- maybe now it's a good idea to rewrite the color system to somethin

[2020-11-21 00:28] jaames commented on #141
I think this is pretty easy to implement yourself with a html <input> element, so I'm gonna wait on this for now. If anyone else wants this feature, please leave a 👍 on advename's message. Thanks!

[2020-11-21 10:43] Aircoookie commented on #140
That would be an awesome capability to have, thank you! 😄

[2020-11-21 12:22] jaames commented on #140
Got it, I'll push it with the next release :)

[2020-11-23 17:24] Myndex commented on #138
Just to chime in briefly: HSV is not perceptual, and I would not be surprised if it was unable to handle whitepoints that far from D65. CIE Luv LCh is a perceptually based polar-coordinate colorspace that is close to ideal for use with monitors and displays, and I'd think is doable with the right matrix.

Here's the great resource for the math for getting into and out of XYZ spaces of different wh

[2020-11-23 22:36] michaelfarrelly opened #142 "Setting iro.ui.Box height property"
Working on a custom project where the `height` of the Box picker needs to be distinct from `width`. But the current Box Dimensions only allows setting the `width` property.

example:
![image](https://user-images.githubusercontent.com/24235823/100022170-f184e300-2d9f-11eb-9458-84074644b6b7.png)

Would it be possible to have the following change?

`iro-core`:
https://github.com/irojs/iro-core/blob/t

[2020-11-23 22:39] jaames commented on #142
Sure, I'll add it to the next release. The property name will have to be `boxHeight`, though

[2020-11-24 00:16] jaames commented on #142
should be fixed in the latest release (5.3.0)

[2020-11-24 00:16] #142 closed

[2020-11-24 00:17] jaames commented on #140
should be available in the latest release (5.3.0)

[2020-11-24 00:17] #140 closed

[2020-11-24 03:54] HQuills opened #144 "Errors thrown in version 5.3.0 when running electron"
The following errors are thrown when running I perform a npm run  electron

[code]

I never had an issue with the previous version of 5.2.3

[2020-11-25 16:23] michaelfarrelly opened #145 "NPM package for 5.3.0 missing iro-core 1.0.5 updates"
The recently published 5.3.0 npm package is missing the new `iro-core@1.0.5` updates. I was looking for the new `boxHeight` property on IroBox from issue #142 but it looks like the package was built with `iro-core@1.0.4`.

[2020-11-25 16:25] jaames commented on #145
Oh, huh, that's weird. I'll fix that ASAP.

[2020-11-25 21:37] #145 closed

[2020-12-01 00:58] marekburiak opened #146 "Make the maximum value customizable"
Hi,

this might be similar to "min/max value options for all slider types". My use case is that I'd like to use the color picker to control single color and rgb strips via a web interface. The issue is that the values e.g. for r,g,b are only integers between 0-255 which is 8 bit resolution. My light controller can do up to 16bits (so 65536 distinct light levels).

I need to use the higher resoluti

[2020-12-01 01:28] marekburiak opened #147 "Ability to add image/icon/static text/computed value next to the slider"
If there's multiple sliders, it's hard to determine which one does what just by looking at it.

It would be nice if one could add an image/icon/static text or a computed value on the right and left-hand side of the slider. By icon I mean the likes of font-awesome and by computed value I mean a user defined function that can format the displayed value (e.g. if instead of showing values 0-255 for th

[2020-12-01 11:02] jaames commented on #144
I'm still not entirely sure what's causing this, what version of Typescript are you using?

[2020-12-02 11:04] niwanta opened #148 "Get color.hsvString"
1)Is it possible to get `color.hsvString`?
2)If not I can get `color.hsv.h, color.hsv.s, color.hsv.v` separately but how to get percentage(%) of `color.hsv.s, color.hsv.v` values?
3)I add hue slider, and is it possible to lock the hue slider on a given value when init?
[code]
4)Is it possible to increase the range 100 and above?

[2020-12-08 04:19] RyanMcDonald opened #149 "Allow kelvin in Color constructor"
I've created a color temperature picker React component that wraps iro, and my React component would be used something like this:

[code]

In my `ColorTemperaturePicker` implementation, it's just slightly inconvenient to have to convert my kelvin value back to RGB so that `iro.Color` can use it:
[code]

Is there any reason the `iro.Color` constructor can't accept kelvin format as well?

[2020-12-08 20:28] jaames commented on #148
Yeah, I'll implement something like that in the future. My plan is to add support for most of the CSS Level 4 spec in the next major version of iro.js

I don't really understand what you mean here? `hsv.s` and `hsv.v` are already in the range of 0 to 100, like a percentag.

Kinda, you can force one of the color channels to always have the same value:
[code]

I'm not sure I understand this either

[2020-12-08 20:30] jaames commented on #144
I still can't reproduce this. I'm gonna assume you managed to fix it, but if not, I'd really appreciate it if you could provide a minimal reproduction of the issue. Thanks!

[2020-12-08 20:30] #144 closed

[2020-12-08 20:31] #130 closed

[2020-12-08 20:36] jaames commented on #149
Ah, this is a silly oversight on my behalf, sorry about that.

It should be relatively trivial to add support for specifying the initial color as an object like `{kelvin: 9000}`, I'll take a look at it whenever I have time :)

[2020-12-10 20:14] jcrawford opened #150 "Set hex color from input"
I have been looking through the documentation and I cannot find a way to set a color as the active color.  For instance if I have an input box with an on change event and I enter #ffffff it does not update the selected color in the wheel.

If there is not a way can you implement that feature?

[2020-12-10 20:15] jcrawford commented on #141
I have been searching for a way to do this even with implementing my own input box, however I do not see any method that will allow me to update the actively selected color in the wheel.

[2020-12-10 20:16] jcrawford commented on #141
I created #150 as I didn't see this ticket at first.

[2020-12-10 21:33] jaames commented on #150
Ah, you might be looking for the [Working with Colors](https://iro.js.org/guide.html#working-with-colors) section in the documentation? The TL;DR is each color picker has a `color` prop, which has a bunch of properties on it for both setting and getting the currently selected color in a variety of different formats. For setting the color from a hex value, you can use something like `colorPicker.co

[2020-12-10 21:33] #150 closed

[2020-12-10 21:42] jcrawford commented on #150
Ahh thank you very much, I was trying to do colorPicker.color = '#FFFFFF';
Appreciate the clarification.

[2020-12-10 21:43] jaames commented on #150
No problem! Maybe I ought to improve the documentation there to make it a bit clearer.

[2020-12-18 07:46] niwanta commented on #148
No worries, successfully implemented the color picker.
Some color pickers I've seen S and V values can be adjusted from 0-255.
But 0-100 worked for me.

[2020-12-18 09:09] jaames commented on #148
to convert `x` from 0-100 to 0-255 you can just do `x * 2.55`. I don't see why the color picker needs to do this

[2020-12-19 14:00] pedros89 commented on #139
Forget about calling an external JavaScript function just use this great video for Integration in Ionic to have the Iro colorPicker in your APP.
https://www.youtube.com/watch?v=g4rQBQDUSJY

[2020-12-19 14:11] pedros89 opened #151 "The Ultimate Explanation to Integrate Iro Picker in IONIC in 2021"
Hi James,

I finally managed to integrate your color picker in IONIC thanks to the help of Vikas who made this great video on how one can do it:

https://youtu.be/g4rQBQDUSJY

The typical application would be then to send the data via Bluetooth to an Arduino to remotely control LED RGB lamps. I am working to make this stuff also available open-sorce.
Could you share this video on your GitHub main

[2020-12-22 08:31] niwanta opened #152 "Make the color picker responsive"
Is it possible to make the color picker responsive?
Or change the width after initializing?

[2020-12-22 10:17] jaames commented on #152
You can resize the picker at any time with `colorPicker.resize( width )`: https://iro.js.org/colorPicker_api.html#resize

[2020-12-22 10:17] #152 closed

[2020-12-22 21:38] marekburiak commented on #148
Instead of 255 steps you only have 100 so you're loosing precision. Obviously niwanta didn't mind.

[2020-12-23 01:53] niwanta commented on #152
Tried `colorPicker.resize( width )` but no effect at all.

[2020-12-23 09:41] niwanta opened #153 "Colorpicker resize"
Tried `colorPicker.resize( width )` but no effect at all.
Tried this way also https://github.com/jaames/iro.js/issues/55
But not working.

[2020-12-23 11:01] jaames commented on #153
@niwanta Can you share your code? The resize method is working fine when I test it.

[2020-12-27 15:13] danielschlingmeier opened #155 "Uncaught TypeError: Container is null"
Hello!

A first thanks a lot for this nice color picker! I used it on my ESP8226 Smart Lamp project for quite a while now and I like it! :) However I updated today from an old version (please don't ask me which one, some years old :-)) and now Firefox Console throws a failure:
![grafik](https://user-images.githubusercontent.com/76655064/103173465-69d93b00-485b-11eb-8d04-5de95e04993e.png)

I am not

[2020-12-27 16:49] jaames commented on #155
Hi! Thanks for the kind words :)

I'm not really sure what's causing this, it looks like you might be trying to create a new color picker before the HTML container for it has been loaded and parsed? iro.js should be able to handle that though, so this is weird :/

I can't recreate it myself, so if you're able to reproduce the problem in a Codepen or a Github repo that would be really helpful. Chee

[2020-12-27 16:51] jaames commented on #151
Cool find! I'll look into fitting this into the documentation with some other framework/library examples soon :)

[2020-12-27 17:52] danielschlingmeier commented on #155
Hello!

Okay, I found the problem and I have to admit it is basically sitting in front of my screen :D

This happens, when one copy&pastes the Color Picker object creation snipplet from one place to another in the java script, renames the HTML ID of the <div> container forgets about the old code. The pasted code snipplet works, but the old one complains that it can't find the container under the g

[2020-12-27 17:52] #155 closed

[2020-12-27 18:12] jaames commented on #155
No worries! Good to see that you got to the bottom of it anyway :)

[2020-12-27 19:55] jaames commented on #138
Hi @Myndex, thanks for the link! Unfortunately I still don't really understand the more abstract color spaces very well, and it looks like matrix transformations would require a lot of code. So while it seems helpful, I'm a bit tentative about implementing a large amount of new code that I don't understand well enough to debug effectively...

Is there anything simpler I can use?

[2020-12-30 10:33] jaames commented on #153
Closing this for now since it's been a week without any response, and this doesn't seem like a bug in iro.js. Feel free to comment or re-open if you have any additional information though.

[2020-12-30 10:33] #153 closed

[2021-01-09 00:24] jimparis opened #156 "setColor followed by resize breaks the picker"
If you visit the demo at https://codepen.io/rakujira/pen/WZOeNq
and add the following to the bottom of the JS:
[code]
then the picker breaks (try dragging the handle).
Either one of those lines alone works as expected.  Or wrapping the second line in a setTimeout like:
[code]

[2021-01-09 00:25] jimparis commented on #156
May be related to #153

[2021-01-16 12:38] ConsMe opened #157 "Please add disable and destroy methods"
I use your picker in Vue app and need to be able to destroy picker instance when my component with this picker is unmounted/ And I need to disable and enable picker, that means to prevent and pass user interactions with picker.
Thanx.

[2021-01-20 15:21] ibalaji777 opened #158 "how to set color by user manual input?"
i have simple input and  that read  color code in hex then i want to update color  in iro picker.
html input
`<input type="text" placeholder="enter hex color code"/>`
i tried

[code]

[code]

it works only first time i trigger.

[2021-01-20 17:05] jaames commented on #158
You need to listen for the `change` event on your input element. Then whenever the change event fires, you can take the value from the input element and use it to set the color:

[code]

[code]

The Codepen demo has an example of this, if that helps: https://codepen.io/rakujira/pen/WZOeNq

[2021-01-20 17:05] #158 closed

[2021-01-20 17:07] jaames commented on #11
@ibalaji777 This answer is outdated; you can now change the color in an event callback without any extra steps:

Updated example:

[code]

[2021-01-20 21:11] attokojeff opened #159 "Add web color names to color format options for accessibility"
Great tool we're using to teach students about hex and rgb values.  However to take it a step closer to meet accessibility guidelines for color blindness it would be great if web color names could also be supported as a color format.  Obviously can't name every single value, but would still be useful.  Color names reference: https://www.w3schools.com/colors/colors_hex.asp.  Thanks!

[2021-01-20 21:40] jaames commented on #159
I've considered this in the past, but felt I couldn't really justify the extra bundle size needed for an adequate list of color names, especially considering that English names might not even be useful for a lot of people's use-cases depending on what audiences they're catering to.

Maybe it would be better to provide some code samples for incorporating https://github.com/dtao/nearest-color along

[2021-01-20 23:54] attokojeff commented on #159
That makes sense.  Very interesting links.  My skills are still budding but I may look into incorporating those later.  Thanks so much for the quick response!

[2021-01-22 00:24] riegel opened #160 "No colors"
I am using the color wheel to calculate a directional vector for a pan/tilt/zoom camera controller. Is there an easy way to make all the colors white?

thanks

[2021-02-07 23:55] martynasS opened #161 "Is it possible to set default lightness?"
For my use case lightness slider is not really required. So is it possible to set default lightness?

[2021-02-08 13:03] jaames commented on #161
You can pass a default color to the color picker constructor. If you're not using the lightness slider, then obviously the user will have no way to change the lightness from whatever lightness value your default color has.

If you want a specific lightness value, then setting the default color from a HSV object is the easiest way to do that:

[code]

[2021-02-08 13:03] #161 closed

[2021-02-08 13:08] jaames commented on #160
Sorry for the slow response. Assuming you're using multiple colors on the same wheel, you can loop through them and set them to the same value:

[code]

[2021-02-08 13:08] #160 closed

[2021-02-17 17:19] michaelfarrelly opened #163 "Bug: IE11 mouseup events"
IE11 mouse up events are not removed fully, related to older issue #58:

https://github.com/jaames/iro.js/blob/master/src/ComponentWrapper.tsx#L95

Recommend change from [MDN](https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/removeEventListener):
from: `document.removeEventListener(event, this);`
to: `document.removeEventListener(event, this, { passive: false });`

This matches the `ad

[2021-02-18 23:05] jaames commented on #163
good catch! should be fixed in the next release (5.3.2)

[2021-02-18 23:05] #163 closed

[2021-03-12 19:36] aletheia7 opened #164 "Google Chrome Violation: Added non-passive event"
### Google Chrome Console Error
[Violation] Added non-passive event listener to a scroll-blocking 'touchstart' event. Consider marking event handler as 'passive' to make the page more responsive. See https://www.chromestatus.com/feature/5745543795965952

macOS: Big Sur
Google Chrome: 89.0.4389.82
iro.js: v5.3.2

iro.js line 14
iro.js chrome formatted: line 241
### Code

[code]
https://developer.mo

[2021-03-12 19:51] jaames commented on #164
I intentionally mark them as non-passive: https://github.com/jaames/iro.js/blob/master/src/ComponentWrapper.tsx#L83

IIRC, marking them as passive would cause the page to scroll when users try to drag the color picker handle on certain mobile browsers.

[2021-03-12 19:51] #164 closed

[2021-03-12 21:18] aletheia7 commented on #164
When I sent a breakpoint, e is a boolean. e is not an object with passive set to false.

Would the Violation disappear if e was {passive: false} ?

[2021-03-12 21:24] jaames commented on #164
Ah, looks like that code is coming from Preact, so not sure if there's anything I can do about that.

Relevant Preact issue:
https://github.com/preactjs/preact/issues/428

[2021-03-18 13:35] klaus-liebler opened #165 "iro.js to control cold white / warm white led strips"
Hi Devs,

I am about to develop a ESP32-based hardware and a webUI to control cold white / warm white led strips and RGB stips (Details: Hardware: https://github.com/klaus-liebler/sensact/tree/master/pcb/sensactOutdoor Firmware: https://github.com/klaus-liebler/sensact/tree/master/firmware_sensactOutdoor). I would like to embed iro.js in the UI. CW/WW strips need two dimensions: the CW/WW ratio an

[2021-03-18 14:28] jaames commented on #165
You'd just need to create two separate color pickers; one with the kelvin slider and another with the value slider

[2021-03-18 14:28] #165 closed

[2021-03-21 01:39] jaames commented on #111
This should now be fixed with 5.4.0

Sorry for the extremely slow response on this, I've just started to work on iro.js again after a long semi-hiatus. It's been a while :)

[2021-03-21 01:39] #111 closed

[2021-03-22 15:25] klaus-liebler commented on #165
Thank you - it works perfect!

[2021-03-25 19:24] mheirendt opened #166 "Add a configuration property for the active colorHandle / colorHandleRadius"
It would be useful when there are multiple colors to be able to discern which color is active. This could be as simple as having a configuration property to have a larger colorHandleRadius for the active color as opposed to the handleRadius.

[2021-03-25 19:27] mheirendt opened #167 "Add the option to restrict interaction with the color wheel unless the pointer event collides with the color"
On an iPhone, you can drag up from the bottom of the phone to exit an application. When the color wheel is on the bottom of the screen, a color is selected just before exiting. It would be great to be able to restrict the selection of an active color unless the pointer event is within a configured  buffer of the color's position.